<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>和仲通讯3D地图</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="/static/ace/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/ace/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-rtl.css" />
    <link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">
    <link rel="stylesheet" href="/static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/static/css/hzmap.css" />

    <script src="/static/ace/assets/js/ace-extra.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script>
    <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>
    <script src="/static/js/hzlbs/hztools.js"></script>
    <script src="/static/js/hzlbs/hznav.js"></script>
    <script src="/static/js/hzlbs/hzdialog.js"></script>
    <script src="/static/js/hzlbs/hz3dmap.js"></script>
    <script src="/static/js/fmap/fengmap.min.js" ></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />

</head>

<body class="no-skin" style="min-width: 1200px;">

<div id="navbar" class="navbar navbar-default ace-save-state" style="min-width:190px;">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <!-- /section:basics/sidebar.mobile.toggle -->
        <div class="navbar-header pull-left">
            <a href="http://www.hezhongsz.com" class="navbar-brand" style="padding-top:0; padding-bottom:0;" target="_blank"> <img src="/static/img/logo.jpg" /> </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="/static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings</a> </li>
                        <li> <a href="#"> <i class="ace-icon fa fa-user"></i> Profile</a> </li>
                        <li class="divider"></li>
                        <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout</a> </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="main-container ace-save-state" style="" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        }
        catch(e) {}
    </script>
    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            }
            catch(e) {}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
                <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>
                <!-- #section:basics/sidebar.layout.shortcuts -->
                <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
                <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
                <!-- /section:basics/sidebar.layout.shortcuts -->
            </div>
            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini"> <span class="btn btn-success"></span> <span class="btn btn-info"></span> <span class="btn btn-warning"></span> <span class="btn btn-danger"></span> </div>
        </div>

        <ul class="nav nav-list" id="hz_nav"></ul>
        <!-- /.nav-list -->
        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
        <!-- /section:basics/sidebar.layout.minimize -->
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content" style="padding-bottom:0;">
                <div class="row">
                    <div id="myCanvas">

                        <div id="map-container"></div>

                        <!-- 坐标转换示例 -->
                        <div id="prompt" >点击地图</div>

                    </div>
                </div>

                <!--页脚-->
                <div class="footer">
                    <div class="footer-inner " >
                        <!-- #section:basics/footer -->
                        <div class="footer-content "> <span class="bigger-120"> 衡阳市和仲通讯科技有限公司 &copy; 2016-2018 </span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span> </div>
                        <!-- /section:basics/footer -->
                    </div>
                </div>

            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div> <!-- /.main-container -->

<script type="text/javascript">

    'use strict';
    var hz_marker = {};     // {userId: {mark: p}
    var im_click = undefined;

    // 定义全局map变量
    var fmapID = 'hztx-hy-f3'; //mapId
    var map;
    // 导航对象
    var navi;

    window.onload = function() {
        map = new fengmap.FMMap({
            container: document.getElementById('map-container'), // 渲染dom

            // 开发者申请应用名称
            appName:'hztxLbs',

            // 开发者申请应用下web服务的key
            key:'0a6829a356caea4bb98fa0f2dea423ed',

            // 主题数据位置
            mapThemeURL : '/static/js/fmap/data/theme',

            // [15, 29], 比例尺级别范围， 16级到23级
            // mapScaleLevelRange: [16, 23],

            // 默认比例尺级别  内部创建的1-29级的比例尺级别
            defaultMapScaleLevel: 22
        });
        console.log(map);

        // 打开Fengmap服务器的地图数据和主题
        map.openMapById(fmapID);
        map.showCompass = true; // 显示指北针控件
        var ctlOpt1 = new fengmap.controlOptions({
            position: fengmap.controlPositon.LEFT_TOP, // 位置 左上角

            // 位置x,y的偏移量
            offset: {
                x: 20,
                y: 60
            },

            imgURL: '/static/img/',

            // 点击放大、缩小控件回调的方法
            scaleLevelcallback:function(level,result) {
                /*
                console.log("当前级别"+result);
                console.log("最小级别："+map.minScaleLevel,"最大级别："+map.maxScaleLevel);
                */
            }
        });
        // 放大、缩小控件
        // map为FMMap对象，初始化需在地图加载后完成。
        var zoomControl = new fengmap.zoomControl(map, ctlOpt1);
        console.log('zoomControl', zoomControl);

        // 地图加载完成回掉方法
        map.on('loadComplete',function() {
            var toolControl = new fengmap.toolControl(map, {
                // 初始化2D模式
                init2D: false,

                // 设置为false表示只显示2D,3D切换按钮
                groupsButtonNeeded: false,

                imgURL: '/static/img/',

                // 点击按钮的回调方法,返回type表示按钮类型,value表示对应的功能值
                clickCallBack: function(type, value) {
                    // console.log(type,value);
                }
            });
            console.log('toolControl', toolControl);

            var socket = io.connect(Hzlbs.HZ_CONN_STR);
            // 增加定位代码，实时显示人物位置
            socket.on('hz_position', function (msg) {
                console.log('hz_position', msg);
                for(var i = 0; i < msg.length; i++) {
                    var coord = {x: msg[i].x, y: msg[i].y};
                    var fm_coord = Hzlbs.coordMapToFMap(coord);
                    if (msg[i].userId in hz_marker) {
                        hz_marker[msg[i].userId].marker.moveTo({
                            x: fm_coord.x,
                            y: fm_coord.y
                        });
                    } else {
                        var color = 'blue';
                        if (HzTools.selectUserId == msg[i].userId) color = 'red';
                        var im = addMarker(fm_coord, color);
                        if (im) {
                            hz_marker[msg[i].userId] = {marker: im};
                        }
                    }
                }
            });

            // 初始化导航对象
            navi = new fengmap.FMNavigation({
                map: map,
                // 设置导航线的样式
                lineStyle: {
                    //设置线为导航线样式
                    lineType: fengmap.FMLineType.FMARROW,
                    lineWidth: 6
                    //设置线的颜色
                    // godColor: '#FF0000',
                    //设置边线的颜色
                    // godEdgeColor: '#920000',
                }
            });

        });


        // 点击计数
        var clickCount = 0;

        //判断起点是否是同一处坐标
        var lastCoord = null;

        // 地图点击事件
        map.on('mapClickNode',function(event) {

            if (event.nodeType == fengmap.FMNodeType.MODEL) {
                var modelLabel = event.label;
                var coord;

                // 如果拾取的模型没有Label对象，则使用模型中心点的坐标
                // 有则使用与模型对应的Label对象的坐标。
                if (!modelLabel) {
                    coord = {
                        x: event.mapCoord.x,
                        y: event.mapCoord.y,
                        groupID: event.groupID
                    }
                } else {
                    coord = {
                        x: modelLabel.mapCoord.x,
                        y: modelLabel.mapCoord.y,
                        groupID: event.groupID
                    };
                }

                // 第三次点击清除路径，重现设置起点起点
                if (clickCount == 2) {
                    navi.clearAll();
                    clickCount = 0;
                    lastCoord = null;
                }

                // 第一次点击添加起点
                if (clickCount == 0) {
                    lastCoord = coord;
                    navi.setStartPoint({
                        x: coord.x,
                        y: coord.y,
                        groupID: coord.groupID,
                        url: '/static/img/start.png',
                        height: 0.5,
                        size: 32
                    });
                } else if (clickCount == 1) { //添加终点并画路线
                    // 判断起点和终点是否相同
                    if (lastCoord.x == coord.x) {
                        $('#message').attr("class", "alert alert-warning");
                        return;
                    } else {
                        $('#message').attr("class", "alert alert-warning hidden");
                    }

                    navi.setEndPoint({
                        x: coord.x,
                        y: coord.y,
                        groupID: coord.groupID,
                        url: '/static/img/end.png',
                        height: 0.5,
                        size: 32
                    });

                    // 画导航线
                    navi.drawNaviLine();
                }
                clickCount++;
            }

        });


        var hzmap = new hzlbs.Hz3DMap({
            container: $('#myCanvas'),
            showServicePanel: true,
            showNavCtrlPanel: true
        });
        console.log(hzmap, hzlbs);

    };

    // 添加Marker
    function addMarker(coord, color) {
        color = color || 'blue';        // 默认blue色
        // 获取焦点层
        var currentGid = map.focusGroupID;
        var group = map.getFMGroup(currentGid);

        if(!group) return;

        // 返回当前层中第一个imageMarkerLayer,如果没有，则自动创建
        var layer = group.getOrCreateLayer('imageMarker');

        // 图标标注对象，默认位置为该楼层中心点
        var im = new fengmap.FMImageMarker({
            x: coord.x,
            y: coord.y,

            // 设置图片路径
            url: color === 'blue' ? '/static/img/blueImageMarker.png' : '/static/img/redImageMarker.png',
            // 设置图片显示尺寸
            size: 32,
            height: 0.5,
            callback: function() {
                // 在图片载入完成后，设置 "一直可见"
                im.alwaysShow();
            }
        });
        layer.addMarker(im);
        console.log('marker:', coord);
        return im;
    }

</script>


<script type="text/javascript">
    if('ontouchstart' in document.documentElement)
        document.write("<script src='/static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>
<script src="/static/ace/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/ace/assets/js/src/elements.scroller.js"></script>
<script src="/static/ace/assets/js/src/elements.colorpicker.js"></script>
<script src="/static/ace/assets/js/src/elements.fileinput.js"></script>
<script src="/static/ace/assets/js/src/elements.typeahead.js"></script>
<script src="/static/ace/assets/js/src/elements.wysiwyg.js"></script>
<script src="/static/ace/assets/js/src/elements.spinner.js"></script>
<script src="/static/ace/assets/js/src/elements.treeview.js"></script>
<script src="/static/ace/assets/js/src/elements.wizard.js"></script>
<script src="/static/ace/assets/js/src/elements.aside.js"></script>
<script src="/static/ace/assets/js/src/ace.js"></script>
<script src="/static/ace/assets/js/src/ace.basics.js"></script>
<script src="/static/ace/assets/js/src/ace.scrolltop.js"></script>
<script src="/static/ace/assets/js/src/ace.ajax-content.js"></script>
<script src="/static/ace/assets/js/src/ace.touch-drag.js"></script>
<script src="/static/ace/assets/js/src/ace.sidebar.js"></script>
<script src="/static/ace/assets/js/src/ace.sidebar-scroll-1.js"></script>
<script src="/static/ace/assets/js/src/ace.submenu-hover.js"></script>
<script src="/static/ace/assets/js/src/ace.widget-box.js"></script>
<script src="/static/ace/assets/js/src/ace.settings.js"></script>
<script src="/static/ace/assets/js/src/ace.settings-rtl.js"></script>
<script src="/static/ace/assets/js/src/ace.settings-skin.js"></script>
<script src="/static/ace/assets/js/src/ace.widget-on-reload.js"></script>
<script src="/static/ace/assets/js/src/ace.searchbox-autocomplete.js"></script>
<script src="/static/ace/components/jquery-validation/dist/jquery.validate.js"></script>
</body>

</html>

