<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>和仲通讯3D地图</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />

    <script src="/static/js/fmap/fengmap.min.js" ></script>
    <style type="text/css">

        html, body
        {
            margin: 0;
            height: 100%;
            overflow: hidden;
            font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
        }

        #map-container {
            position: absolute;
            width:100%;
            height: 100%;
        }

        #prompt
        {
            position: absolute;
            left: 2%;
            bottom: 2%;
        }
    </style>

</head>
<body>

<div id="map-container"></div>

<!-- 坐标转换示例 -->
<div id="prompt" >点击地图</div>

<script type="text/javascript">
    // 定义全局map变量
    var fmapID = 'hztx-hy-f3'; //mapId
    var map;

    window.onload = function() {
        map = new fengmap.FMMap({
            container: document.getElementById('map-container'), //渲染dom

            // 开发者申请应用名称
            appName:'hztxLbs',

            // 开发者申请应用下web服务的key
            key:'0a6829a356caea4bb98fa0f2dea423ed',

            // 主题数据位置
            mapThemeURL : '/static/js/fmap/data/theme',

            // [15, 29], 比例尺级别范围， 16级到23级
            // mapScaleLevelRange: [16, 23],

            // 默认比例尺级别  内部创建的1-29级的比例尺级别
            defaultMapScaleLevel: 22
        });

        // 打开Fengmap服务器的地图数据和主题
        map.openMapById(fmapID);

        map.showCompass = true; // 显示指北针控件

        var ctlOpt1 = new fengmap.controlOptions({
            position: fengmap.controlPositon.LEFT_TOP, // 位置 左上角

            // 位置x,y的偏移量
            offset: {
                x: 20,
                y: 60
            },

            imgURL: '/static/img/',

            // 点击放大、缩小控件回调的方法
            scaleLevelcallback:function(level,result) {
                /*console.log("当前级别"+result);
                 console.log("最小级别："+map.minScaleLevel,"最大级别："+map.maxScaleLevel);*/
            }
        });
        // 放大、缩小控件
        // map为FMMap对象，初始化需在地图加载后完成。
        var zoomControl = new fengmap.zoomControl(map, ctlOpt1);

        // 地图加载完成回掉方法
        map.on('loadComplete',function() {
            var toolControl = new fengmap.toolControl(map, {
                // 初始化2D模式
                init2D: false,

                // 设置为false表示只显示2D,3D切换按钮
                groupsButtonNeeded: false,

                imgURL: '/static/img/',

                // 点击按钮的回调方法,返回type表示按钮类型,value表示对应的功能值
                clickCallBack: function(type, value) {
                    // console.log(type,value);
                }
            });

            addMarkers({x: 1000, y: 2000, z: 10});

        });


        // 地图点击事件
        map.on('mapClickNode',function(event) {
            // 获取坐标信息
            var eventInfo = event.eventInfo.coord;

            // 获取焦点层
            var currentGid = map.focusGroupID;

            var coord = null;
            // 获取x、y坐标
            if (eventInfo) { // pc端
                coord = {
                    x: event.eventInfo.coord.x,
                    y: event.eventInfo.coord.y
                }
            } else { //移动端
                coord = {
                    x: event.mapCoord.x,
                    y: event.mapCoord.y
                }
            }

            // 获取鼠标点击的坐标
            var domEvent = event.eventInfo.domEvent;
            var _x, _y;

            if (domEvent instanceof MouseEvent) {
                _x = domEvent.clientX;
                _y = domEvent.clientY;
            } else {
                _x = domEvent.changedTouches[0].clientX;
                _y = domEvent.changedTouches[0].clientY;
            }

            // 如果点击的是空白处
            if (!event.nodeType) {
                showPrompt(currentGid, {
                    x: _x,
                    y: _y,
                    z: map.getGroupHeight(currentGid) + map.layerLocalHeight
                });
                return;
            }
            showPrompt(currentGid, {
                x: _x,
                y: _y,
                z: map.getGroupHeight(currentGid) + map.layerLocalHeight
            });

            // 添加Marker
            addMarker(currentGid, coord);
        });

        //在点击的位置添加图片标注
        function addMarker(gid, coord) {
            var group = map.getFMGroup(gid);

            //返回当前层中第一个imageMarkerLayer,如果没有，则自动创建
            var layer = group.getOrCreateLayer('imageMarker');

            var im = new fengmap.FMImageMarker({
                x: coord.x,
                y: coord.y,
                url: '/static/img/blueImageMarker.png',
                height: 1,
                size: 32,
                callback: function() {
                    // 在图片载入完成后，设置 "一直可见"
                    im.alwaysShow();

                    console.log('im:(x,y,z)', im.x, im.y, im.height);
                }
            });
            layer.addMarker(im);
        }

        // 显示转换坐标信息
        function showPrompt(gid, pt1) {
            var oPrompt = document.getElementById('prompt');
            // 屏幕坐标转换地图坐标
            var pt2 = map.coordScreenToMap(pt1.x, pt1.y, pt1.z);

            // 屏幕到地图坐标可能是没有有意义的一个数字，所以做了范围限制，超出范围则是null！
            if (pt2 != null) {
                //地图坐标转换屏幕坐标
                var pt3 = map.coordMapToScreen(pt2.x, pt2.y, pt2.z);
                oPrompt.innerHTML = '<p>当前楼层(groupId)：groupId=' + gid + '</p><p>楼层高度(height)：height=' + pt1.z + '</p>' + '<p>原始屏幕坐标(point)：x=' + pt1.x + ', y=' + pt1.y + '</p>' + '<p>转换后的地理坐标(mapCoord)：x=' + parseInt(pt2.x) + ', y=' + parseInt(pt2.y) + '</p>' + '<p>转换后的屏幕坐标(point)：x=' + parseInt(pt3.x) + ', y=' + parseInt(pt3.y) + '</p>';
            } else {
                oPrompt.innerHTML = '<p>当前楼层(groupId)：groupId=' + gid + '</p><p>楼层高度(height)：height=' + pt1.z + '</p>' + '<p>原始屏幕坐标(point)：x=' + pt1.x + ', y=' + pt1.y + '</p>' + '<p>转换后的地理坐标(mapCoord)：超出计算返回</p>' + '<p>转换后的屏幕坐标(point)：无效</p>';
            }

            // 返回当前层有没有layer，如果有就删除layer
            var layer = map.getLayerByAlias(gid, 'imageMarker');
            if (layer) {
                // 自杀式删除
                layer.dispose();
            }
        }


    };

    // 添加Marker
    function addMarkers(coord) {
        // 获取焦点层
        var currentGid = map.focusGroupID;
        var group = map.getFMGroup(currentGid);

        // 返回当前层中第一个imageMarkerLayer,如果没有，则自动创建
        var layer = group.getOrCreateLayer('imageMarker');

        var ptScreen = map.coordMapToScreen(coord.x, coord.y, coord.z);
        console.log('screen coord', ptScreen);

        // 图标标注对象，默认位置为该楼层中心点
        var im = new fengmap.FMImageMarker({
            //x: ptScreen.x,
            //y: ptScreen.y,

            // 设置图片路径
            url: '/static/img/blueImageMarker.png',
            // 设置图片显示尺寸
            size: 32,
            height: 2,
            callback: function() {
                // 在图片载入完成后，设置 "一直可见"
                im.alwaysShow();
            }
        });

        console.log('im:(x,y,z)', im.x, im.y, im.height);

        layer.addMarker(im);
    }

</script>

</body>
</html>