<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>和仲位置服务平台</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="/static/ace/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/ace/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-rtl.css" />

    <link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">
    <link rel="stylesheet" href="/static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>

    <script src="/static/ace/assets/js/ace-extra.js"></script>
    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script>
    <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>

    <link rel="stylesheet" href="/static/css/hzmap.css" />
    <script src="/static/js/hzlbs/hzlbs.nav.js"></script>
    <script src="/static/js/hzlbs/hzlbs.tools.js"></script>
    <script src="/static/js/hzlbs/hzlbs.maps.js"></script>
    <script src="/static/js/hzlbs/hzlbs.showmap.js"></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />

</head>

<body class="no-skin"  style=" min-width:1200px;">

<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default ace-save-state" style=" min-width:190px;">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <!-- /section:basics/sidebar.mobile.toggle -->

        <div class="navbar-header pull-left">
            <a href="http://www.hezhongsz.com" class="navbar-brand" style="padding-top:0; padding-bottom:0;" target="_blank"> <img src="/static/img/logo.jpg" /> </a>
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <!-- #section:basics/navbar.user_menu -->
                <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="/static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
                        <li> <a href="#"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
                        <li class="divider"></li>
                        <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
                    </ul>
                </li>

                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>

        <!-- /section:basics/navbar.dropdown -->
    </div>
    <!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
                <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>

                <!-- #section:basics/sidebar.layout.shortcuts -->
                <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
                <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>

                <!-- /section:basics/sidebar.layout.shortcuts -->
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>
                <span class="btn btn-info"></span>
                <span class="btn btn-warning"></span>
                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list" id="hz_nav"></ul>

        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
        <!-- /section:basics/sidebar.layout.minimize -->
    </div>


    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-header"><h1>坐标拾取</h1></div>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-sm-12" >

                        <div class="col-xs-5">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="coordinateX"  class="col-sm-3 control-label no-padding-right">X坐标</label>
                                    <div class="col-sm-9">
                                        <!-- #section:elements.form.input-icon -->
                                        <span class="input-icon input-icon-right">
                                            <input type="text" id="coordinateX" />
                                            <i class="ace-icon green">mm</i>
                                        </span>
                                        <!-- /section:elements.form.input-icon -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="coordinateY" class="col-sm-3 control-label no-padding-right">Y坐标</label>
                                    <div class="col-sm-9">
                                        <!-- #section:elements.form.input-icon -->
                                        <span class="input-icon input-icon-right">
                                            <input type="text" id="coordinateY" />
                                            <i class="ace-icon green">mm</i>
                                        </span>
                                        <!-- /section:elements.form.input-icon -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- /.col -->
                </div> <!-- /.row -->

                <div class="hr hr-10"></div>

                <div id="myCanvas">

                </div>

                <!--页脚-->
                <div class="footer">
                    <div class="footer-inner " >
                        <!-- #section:basics/footer -->
                        <div class="footer-content "> <span class="bigger-120"> 衡阳市和仲通讯科技有限公司 &copy; 2016-2018 </span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span> </div>
                        <!-- /section:basics/footer -->
                    </div>
                </div>

            </div> <!-- /.page-content -->

        </div>
    </div> <!-- /.main-content -->

</div> <!-- /.main-container -->

<script>
    'use strict';

    $(function(){
        var socket = io.connect(hz_connStr);
        socket.on('hz_position', function(msg) {
            console.log('hz_position', msg);
            for (var i=0; i<msg.length; i++){
                hzPeopleGoto(coordMapToScreen(msg[i]['x']), coordMapToScreen(msg[i]['y']), msg[i]['userId']);
                setPeopleCoord(msg[i]['userId'], msg[i]['x'], msg[i]['y']);
            }
        });

        // 坐标拾取回调函数。 x, y 单位 mm
        getCoordCallback(function (x, y) {
            $('#coordinateX').val(x);
            $('#coordinateY').val(y);
        });

    });

</script>


<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script src="/static/ace/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script> 

<script src="/static/ace/assets/js/src/elements.scroller.js"></script> 
<script src="/static/ace/assets/js/src/elements.colorpicker.js"></script> 
<script src="/static/ace/assets/js/src/elements.fileinput.js"></script> 
<script src="/static/ace/assets/js/src/elements.typeahead.js"></script> 
<script src="/static/ace/assets/js/src/elements.wysiwyg.js"></script> 
<script src="/static/ace/assets/js/src/elements.spinner.js"></script> 
<script src="/static/ace/assets/js/src/elements.treeview.js"></script> 
<script src="/static/ace/assets/js/src/elements.wizard.js"></script> 
<script src="/static/ace/assets/js/src/elements.aside.js"></script> 
<script src="/static/ace/assets/js/src/ace.js"></script> 
<script src="/static/ace/assets/js/src/ace.basics.js"></script> 
<script src="/static/ace/assets/js/src/ace.scrolltop.js"></script> 
<script src="/static/ace/assets/js/src/ace.ajax-content.js"></script> 
<script src="/static/ace/assets/js/src/ace.touch-drag.js"></script> 
<script src="/static/ace/assets/js/src/ace.sidebar.js"></script> 
<script src="/static/ace/assets/js/src/ace.sidebar-scroll-1.js"></script> 
<script src="/static/ace/assets/js/src/ace.submenu-hover.js"></script> 
<script src="/static/ace/assets/js/src/ace.widget-box.js"></script> 
<script src="/static/ace/assets/js/src/ace.settings.js"></script> 
<script src="/static/ace/assets/js/src/ace.settings-rtl.js"></script> 
<script src="/static/ace/assets/js/src/ace.settings-skin.js"></script> 
<script src="/static/ace/assets/js/src/ace.widget-on-reload.js"></script> 
<script src="/static/ace/assets/js/src/ace.searchbox-autocomplete.js"></script> 


</body>
</html>
