<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>和仲位置服务平台</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../static/ace/assets/css/bootstrap.css" />
<link rel="stylesheet" href="../static/ace/components/font-awesome/css/font-awesome.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->
 
<!-- ace styles -->
<link rel="stylesheet" href="../static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-skins.css" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-rtl.css" />

<!-- svg样式 -->
<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">

<!-- inline styles related to this page -->
<!--时间插件-->

<link rel="stylesheet" href="../static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>

<!--hz地图样式-->
 

<!-- ace settings handler -->
<script src="../static/ace/assets/js/ace-extra.js"></script>
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body class="no-skin"  style=" min-width:1900px;">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state" style=" min-width:190px;">
  <div class="navbar-container ace-save-state" id="navbar-container"> 
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    
    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left"> 
      <!-- #section:basics/navbar.layout.brand --> 
      <a href="#" class="navbar-brand" style="padding-top:0; padding-bottom:0;"> <img src="../static/img/logo.jpg" /> </a> 
      
      <!-- /section:basics/navbar.layout.brand --> 
      
      <!-- #section:basics/navbar.toggle --> 
      
      <!-- /section:basics/navbar.toggle --> 
    </div>
    
    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        
        <!-- #section:basics/navbar.user_menu -->
        <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="../static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
          <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
            <li> <a href="profile.html"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
            <li class="divider"></li>
            <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
          </ul>
        </li>
        
        <!-- /section:basics/navbar.user_menu -->
      </ul>
    </div>
    
    <!-- /section:basics/navbar.dropdown --> 
  </div>
  <!-- /.navbar-container --> 
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script> 
  
  <!-- #section:basics/sidebar -->
  <div id="sidebar" class="sidebar                  responsive                    ace-save-state"> 
    <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>
                
                
                
                           
          <script src="/static/js/jquery.min.js"></script> 
          <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script> 
          <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script> 
          <script src="../static/js/jquery.mousewheel.js"></script>
            
           
		   
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
        <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>
        
        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
        <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
        
        <!-- /section:basics/sidebar.layout.shortcuts --> 
      </div>
      
      <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>--> 
    </div>
    <!-- /.sidebar-shortcuts -->
    
    <ul class="nav nav-list">
      
    
    <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon  fa fa-home"></i>
							<span class="menu-text">
								我的建筑
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/token">
									<i class="menu-icon fa fa-caret-right"></i>
									地图导航
								</a>

								<b class="arrow"></b>
							</li>
							
                            <li class="">
								<a href="/hz_page2">
									<i class="menu-icon fa fa-caret-right"></i>
									坐标拾取
								</a>

								<b class="arrow"></b>
							</li>
                            
							<li class="active">
								<a href="/hz_history_loc">
									<i class="menu-icon fa fa-caret-right"></i>
									历史轨迹
								</a>

								<b class="arrow"></b>
							</li>
                            
                            
                            
                        <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-caret-right"></i>
							<span class="menu-text"> 电子围栏 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="/hz_electronic_rail">
									<i class="menu-icon fa fa-caret-right"></i>
									实时信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/hz_page1">
									<i class="menu-icon fa fa-caret-right"></i>
									历史警报
								</a>

								<b class="arrow"></b>
							</li>

							

							

							
						</ul>
					</li>
                            

							

							

							
						</ul>
					</li>
    
    
    
    
    </ul>
    <!-- /.nav-list --> 
    
    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
    
    <!-- /section:basics/sidebar.layout.minimize --> 
  </div>
  
  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner"> 
      <!-- #section:basics/content.breadcrumbs --> 
      
      <!-- /section:basics/content.breadcrumbs -->
      <div class="page-content" style="padding-bottom:0px;">
      	<div class="row">
        		 
            <div  id="myCanvas">
              
              	<div class="" id="map_controller_panel" style="position:absolute; top:60px; left:80px; z-index:1000; width:370px;">
                         
                                <div class="btn-group btn-group-xs col-xs-12" id="map_panel_button" style="background:#FFF; border:1px solid #CCC;">
                                    <button type="button" class="btn btn-primary" id="setEnclosure" hz_target = "#EnclosureConcent" >设置围栏</button>
                                    <button type="button" class="btn btn-primary" id="setEnclosure2" hz_target = "#EnclosureConcent2" >设置围栏2</button>
                                
                                </div>
                                <div class="map_panel_content col-xs-12" style="background:#FFF; border:1px solid #CCC;">
                                    <div class="col-xs-12"  style="display:none; " id="EnclosureConcent">
                                        <div class="row" style="padding-right:10px;">
                                         <form role="form" class="form-horizontal">
                                                        
                                                      
                                                      
                                                      
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">围栏名称:</label>
                                                        <div class="col-sm-9">
                                                        <input type="text"  placeholder=""  />
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">楼层:</label>
                                                        <div class="col-sm-9">
                                                                <select class="form-control" id=" ">
                                                                    <option value="">3楼</option>
                                                                                                         
                                                                </select>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">进入警报方式:</label>
                                                        <div class="col-sm-9">
                                                                <select class="form-control" id=" ">
                                                                    <option value="">文本</option>
                                                                                                         
                                                                </select>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">进入警报内容:</label>
                                                        <div class="col-sm-9">
                                                                <textarea class="form-control" rows="3"></textarea>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">退出警报方式:</label>
                                                        <div class="col-sm-9">
                                                                <select class="form-control" id=" ">
                                                                    <option value="">文本</option>
                                                                                                         
                                                                </select>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">退出警报内容:</label>
                                                        <div class="col-sm-9">
                                                                <textarea class="form-control" rows="3"></textarea>
                                                        </div>
                                                      </div>
                                                      
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">围栏形状:</label>
                                                        <div class="col-sm-9">
                                                                
                                                        </div>
                                                      </div>
                                                      
                                                      
                                                      <div class="form-group">
                                                        <label for="firstname" class="col-sm-3 control-label no-padding-right">绘制范围:</label>
                                                        <div class="col-sm-9">
                                                        	<div class="col-xs-6">
                                                            	<select class="form-control" id=" ">
                                                                    <option value="">多边形</option>                                     
                                                                </select>
                                                            </div>
                                                            <div class="col-xs-6">
                                                            <button id="start_draw" type="button" class="btn btn-primary btn-xs">
                                                                开始绘制
                                                            </button>
                                                            </div>
                                                         
                                                        </div>
                                                      </div>
                                                      
                                                     
    
                                                    </form>
                                        </div>
                                    </div>
                                    <div  style="display:none;  " id="EnclosureConcent2">
                                        <div class="row" style="padding-right:10px;">
                                         asfdasdfasfasfasdfasdf
                                        </div>
                                    </div>
                         		</div>
                </div>
                
                 <script>
                 	$(function(){
						

						
						
						/*
							param $this obg   要检查的对象   
							      data  arr  [0]位X坐标   [1]为Y坐标
						*/
						function test_range($this,data){
							
								var mapMinX,mapMaxX,mapMinY,mapMaxY;
								
								var mapOffset = $this.offset();
								
								var mapOuterWidth = $this.outerWidth();
								var mapOuterHeight = $this.outerHeight();
								
								mapMinX = mapOffset.left;
								mapMaxX = mapOffset.left + mapOuterWidth;
								mapMinY = mapOffset.top;
								mapMaxY = mapOffset.top + mapOuterHeight;
							
							if(data[0] > mapMinX && data[0] < mapMaxX && data[1] > mapMinY && data[1] <  mapMaxY){
									return true;
							}
							return false;
							
						}
						
						
						
						function start_draw(){
							var $map = $('#map');
							var $svg_path = $('#svg_path');
							var $svg_path_offset = $svg_path.offset();
							$svg_path.svg();
							var $svg = $svg_path.svg('get');
							//画图位置数据
							var drawLineData =[]; 
							//相对于svg图数据
							
							$svg_path.on('click',function(e){
								var pageX = e.pageX;
								var pageY = e.pageY;
								
								if(!test_range($map,[pageX,pageY])) return false;
								
								
								var map_path_line = [];
								map_path_line[0] = e.pageX -  $svg_path_offset.left - parseInt($svg_path.css('border-left-width'));
								map_path_line[1] = e.pageY -  $svg_path_offset.top - parseInt($svg_path.css('border-top-width'));
								drawLineData.push(map_path_line);
								map_path_line = [];
								
								drawLine($svg,drawLineData);
								
								
							})
							

						}
						
						function drawLine(svg_obj,LineData){
							 svg_obj.polyline(LineData,{fill: 'none', stroke: 'blue', strokeWidth: 4});	
						}
						
						
						
						
	 
						//svg地图 控制面板
						$("#map_panel_button button").on('click',function(){
							
							
							
							var $this = $(this);
							
							
							if($this.hasClass('active')){
								map_button_slide_up($this);
							}else{
								map_button_slide_down($this)
							};
						 
 						});
						
						
						
						
						function map_button_slide_down($this){
							$this.addClass('active');
						 
							$this.siblings().removeClass('active');
							
							var $target = $($this.attr('hz_target'));
							
							$target.siblings().slideUp('100',function(){
								$target.slideDown();
							})
							
							 
							
													
						
						}
						function map_button_slide_up($this){
							$this.removeClass('active');
							var $target = $($this.attr('hz_target'));
							$target.slideUp();						
						
						}
						
 
						
						
					});
                 </script>
                 
                 <script>
				 
				 
				 	$(function(){
						
						
						$("#start_draw").on('click',function(){
							var $this = $(this);
							 
							if($.trim($this.text()) === '开始绘制'){
								$this.text('取消绘制');
								var enclosure1 = new enclosure($('#svg_map_base'));
								enclosure1.polyline();
							}else{
								$this.text('开始绘制');	
							}
						});
						
						
						function enclosure(obj){
							//数据资料
							this.data=[];
							//操作事件的对象(jquery)
							this.$obj = obj || null;
							//画板对象(jquery)
							this.$boardObj = this.$obj;
							//地图对象
							this.$mapObj = this.$boardObj;
							
							
							
							this.__set = function(name,value){
								this[name] = value;
							}
							
							
							this.polyline = function(){
								var _this = this;
								
								this.$obj.on('click',function(e){
									
									if (_this.data.length === 0){
										
									}
									
							 		var mapObjOffset = _this.$mapObj.offset();
									var map_path_line = [];
									map_path_line[0] = e.pageX -  mapObjOffset.left - parseInt(_this.$mapObj.css('border-left-width'));
									map_path_line[1] = e.pageY -  mapObjOffset.top - parseInt(_this.$mapObj.css('border-top-width'));
								
									_this.data.push(map_path_line);
									map_path_line = [];
									_this.svgPolyline();
								})	
							}
							
							this.svgPolyline = function(){
								var settings = {fill: 'none', stroke: 'blue', strokeWidth: 4};
								this.$obj.svg();
								var $svg = this.$obj.svg('get');
								$svg.clear();
								$svg.polyline(this.data,settings);
								 
							}
							
							this.lineFn = function(){
								
							}
						}
					});
                 	
                 </script>
           
              
              
              <div id="svg_map_base"  class="each_map_layer"> 
              	<!--基础svg图-->
                <img src="../static/img/floor3.svg"    id="svg_image" class="each_map_layer">
                <!--绘制路径-->
                <div id="svg_path" class="each_map_layer"></div>
                <!--房间等信息标识-->
                <div id="svg_sign"  class="each_map_layer"></div>
                <!--用户标识区域-->
                <div id="svg_user_sign" class="each_map_layer">
                      <!--<img src="/static/img/people.png" style="position:absolute" id="1918E00103AA" title="1918E00103AA"> 
                      <img src="/static/img/people.png" style="position:absolute" id="1918E00103A9" title="1918E00103A9"> 
                      <img src="/static/img/dest.png" style="position:absolute" id="destination" title="终点">-->
                      
                </div>
                
              </div>
            </div>
            
            <style type="text/css" >
            	
				#myCanvas{  
					position: relative;
					overflow: hidden;
					border: 1px solid #b94a48;
					min-width:1702px;
					min-height:892px;
					z-index:1;
					background:url(../static/img/cross.gif);
				}
				/*所有事件在floor3父类上面   下面的子元素层级应该全部小于父元素层级*/
				#svg_map_base {
				 
 					z-index:2;
					
				}
				#svg_image{
					 
					z-index:-100;
					
				}
				#svg_path{
				 
 					z-index:-90;
					 
				}
				#svg_sign{
				 	z-index:-80;
				 
				}
				#svg_user_sign{
					z-index:-10
					}
				
				
				/*图基本设置*/
				.map_base_data{height:890px;width: 1700px;}
				.each_map_layer{ position:absolute; height:890px; width:1700px;}
				 
            </style>
            
            
      
            
        </div>
      </div>
    <!-- /.page-content --> 
  </div>
</div>
<!-- /.main-content --> 

<!--<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>-->
</div>
<!-- /.main-container --> 

<!-- basic scripts --> 

<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script> 
<script src="../static/ace/components/bootstrap/dist/js/bootstrap.js"></script> 

<!--时间控制插件--> 

<script src="../static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script> 

<!-- ace scripts --> 

 


<script src="../static/ace/assets/js/src/ace.js"></script> 
<script src="../static/ace/assets/js/src/ace.basics.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar.js"></script> 
   
   
   
 
        
<!-- inline scripts related to this page -->

</body>
</html>
