<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>和仲位置服务平台</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../static/ace/assets/css/bootstrap.css" />
<link rel="stylesheet" href="../static/ace/components/font-awesome/css/font-awesome.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->

<!-- ace styles -->
<link rel="stylesheet" href="../static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-skins.css" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-rtl.css" />

<!-- svg样式 -->
<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">

<!-- inline styles related to this page -->
<!--时间插件-->

<link rel="stylesheet" href="../static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>

<!--hz地图样式-->

<!-- ace settings handler -->
<script src="../static/ace/assets/js/ace-extra.js"></script>
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body class="no-skin"  style=" min-width:1900px;">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state" style=" min-width:190px;">
  <div class="navbar-container ace-save-state" id="navbar-container"> 
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    
    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left"> 
      <!-- #section:basics/navbar.layout.brand --> 
      <a href="#" class="navbar-brand" style="padding-top:0; padding-bottom:0;"> <img src="../static/img/logo.jpg" /> </a> 
      
      <!-- /section:basics/navbar.layout.brand --> 
      
      <!-- #section:basics/navbar.toggle --> 
      
      <!-- /section:basics/navbar.toggle --> 
    </div>
    
    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        
        <!-- #section:basics/navbar.user_menu -->
        <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="../static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
          <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
            <li> <a href="profile.html"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
            <li class="divider"></li>
            <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
          </ul>
        </li>
        
        <!-- /section:basics/navbar.user_menu -->
      </ul>
    </div>
    
    <!-- /section:basics/navbar.dropdown --> 
  </div>
  <!-- /.navbar-container --> 
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script> 
  
  <!-- #section:basics/sidebar -->
  <div id="sidebar" class="sidebar                  responsive                    ace-save-state"> 
    <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script> 
    <script src="/static/js/jquery.min.js"></script> 
    <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script> 
    <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script> 
    <script src="../static/js/jquery.mousewheel.js"></script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
        <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>
        
        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
        <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
        
        <!-- /section:basics/sidebar.layout.shortcuts --> 
      </div>
      
      <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>--> 
    </div>
    <!-- /.sidebar-shortcuts -->
    
    <ul class="nav nav-list">
      <li class=""> <a href="#" class="dropdown-toggle"> <i class="menu-icon  fa fa-home"></i> <span class="menu-text"> 我的建筑 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
        <ul class="submenu">
          <li class=""> <a href="/token"> <i class="menu-icon fa fa-caret-right"></i> 地图导航 </a> <b class="arrow"></b> </li>
          <li class=""> <a href="/hz_page2"> <i class="menu-icon fa fa-caret-right"></i> 坐标拾取 </a> <b class="arrow"></b> </li>
          <li class="active"> <a href="/hz_history_loc"> <i class="menu-icon fa fa-caret-right"></i> 历史轨迹 </a> <b class="arrow"></b> </li>
          <li class=""> <a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-caret-right"></i> <span class="menu-text"> 电子围栏 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
            <ul class="submenu">
              <li class=""> <a href="/hz_electronic_rail"> <i class="menu-icon fa fa-caret-right"></i> 实时信息 </a> <b class="arrow"></b> </li>
              <li class=""> <a href="/hz_page1"> <i class="menu-icon fa fa-caret-right"></i> 历史警报 </a> <b class="arrow"></b> </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.nav-list --> 
    
    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
    
    <!-- /section:basics/sidebar.layout.minimize --> 
  </div>
  
  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner"> 
      <!-- #section:basics/content.breadcrumbs --> 
      
      <!-- /section:basics/content.breadcrumbs -->
      <div class="page-content" style="padding-bottom:0px;">
        <div class="row">
          <div  id="myCanvas">
            <div class="" id="map_controller_panel" style="position:absolute; top:60px; left:80px; z-index:1000; width:370px;">
              <div class="btn-group btn-group-xs col-xs-12" id="map_panel_button" style="background:#FFF; border:1px solid #CCC;">
                <button type="button" class="btn btn-primary" id="setEnclosure" hz_target = "#EnclosureConcent" >设置围栏</button>
                <button type="button" class="btn btn-primary" id="setEnclosure2" hz_target = "#EnclosureConcent2" >设置围栏2</button>
              </div>
              <div class="map_panel_content col-xs-12" style="background:#FFF; border:1px solid #CCC;">
                <div class="col-xs-12"  style="display:none; " id="EnclosureConcent">
                  <div class="row" style="padding-right:10px; padding-top:20px;">
                    <form role="form" class="form-horizontal" id="form-validate">
                      <div class="alert alert-info"> <strong>Heads up!</strong> 设置围栏相关设置 <br />
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">围栏名称:</label>
                        <div class="col-sm-9">
                          <input type="text"  id="set_enclosure_name" name="set_enclosure_name" placeholder=""  />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname"  class="col-sm-3 control-label no-padding-right">楼层:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="set_enclosure_floor">
                            <option value="">3楼</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">进入警报方式:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="set_enclosure_into_alert" >
                            <option value="">文本</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname"  class="col-sm-3 control-label no-padding-right">进入警报内容:</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" rows="3" id="set_enclosure_into_alert_content"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname"  class="col-sm-3 control-label no-padding-right">退出警报方式:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="set_enclosure_out_alert">
                            <option value="">文本</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">退出警报内容:</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="set_enclosure_out_alert_content" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">绘制范围:</label>
                        <div class="col-sm-9">
                          <div class="col-xs-6">
                            <select class="form-control" id=" ">
                              <option value="">多边形</option>
                            </select>
                          </div>
                          <div class="col-xs-6">
                            <button type="button" id="start_draw" class="btn btn-xs btn-danger"> <span>开始绘制</span> <i class="ace-icon fa fa-arrow-right icon-on-right"></i> </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6 col-xs-push-6">
                          <input type="button" class="btn btn-success btn-xs" id="set_enclosure_submit" value="提交" />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div  style="display:none;" id="EnclosureConcent2">
                  <div class="row" style="padding-right:10px;"> asfdasdfasfasfasdfasdf </div>
                </div>
              </div>
            </div>
            <script>
                 	$(function(){
						

						
						
						/*
							param $this obg   要检查的对象   
							      data  arr  [0]位X坐标   [1]为Y坐标
						*/
						function test_range($this,data){
							
								var mapMinX,mapMaxX,mapMinY,mapMaxY;
								
								var mapOffset = $this.offset();
								
								var mapOuterWidth = $this.outerWidth();
								var mapOuterHeight = $this.outerHeight();
								
								mapMinX = mapOffset.left;
								mapMaxX = mapOffset.left + mapOuterWidth;
								mapMinY = mapOffset.top;
								mapMaxY = mapOffset.top + mapOuterHeight;
							
							if(data[0] > mapMinX && data[0] < mapMaxX && data[1] > mapMinY && data[1] <  mapMaxY){
									return true;
							}
							return false;
							
						}
						
						
						
						function start_draw(){
							var $map = $('#map');
							var $svg_path = $('#svg_path');
							var $svg_path_offset = $svg_path.offset();
							$svg_path.svg();
							var $svg = $svg_path.svg('get');
							//画图位置数据
							var drawLineData =[]; 
							//相对于svg图数据
							
							$svg_path.on('click',function(e){
								var pageX = e.pageX;
								var pageY = e.pageY;
								
								if(!test_range($map,[pageX,pageY])) return false;
								
								
								var map_path_line = [];
								map_path_line[0] = e.pageX -  $svg_path_offset.left - parseInt($svg_path.css('border-left-width'));
								map_path_line[1] = e.pageY -  $svg_path_offset.top - parseInt($svg_path.css('border-top-width'));
								drawLineData.push(map_path_line);
								map_path_line = [];
								
								drawLine($svg,drawLineData);
								
								
							})
							

						}
						
						function drawLine(svg_obj,LineData){
							 svg_obj.polyline(LineData,{fill: 'none', stroke: 'blue', strokeWidth: 4});	
						}
						
						
						
						
	 
						//svg地图 控制面板
						$("#map_panel_button button").on('click',function(){
							
							
							
							var $this = $(this);
							
							
							if($this.hasClass('active')){
								map_button_slide_up($this);
							}else{
								map_button_slide_down($this)
							};
						 
 						});
						
						
						
						
						function map_button_slide_down($this){
							$this.addClass('active');
						 
							$this.siblings().removeClass('active');
							
							var $target = $($this.attr('hz_target'));
							
							$target.siblings().slideUp('100',function(){
								$target.slideDown();
							})
							
							 
							
													
						
						}
						function map_button_slide_up($this){
							$this.removeClass('active');
							var $target = $($this.attr('hz_target'));
							$target.slideUp();						
						
						}
						
 
						
						
					});
                 </script> 
            <script>
				 
				 
				 	$(function(){
						
						$('#set_enclosure_submit').on('click',function(){
							
						});
						
						var enclosure1 = new enclosure($('#svg_event'));
						$("#start_draw").on('click',function(){
							var $this = $(this);
							var $span = $this.find('span');
							var buttonText = $span.text();
							if(buttonText === '取消绘制'){
								$span.text('开始绘制');
								enclosure1.remove_event();
							 

							}else if (buttonText === '重新绘制'){
								$span.text('取消绘制');
								enclosure1.again_map();
							 
							}else {
								$span.text('取消绘制');
								enclosure1.polyline(); 
							 
							}
						});
						
						/*
						param object obj jquery对象
						*/
						function enclosure(obj){
							this.result = [];
							//坐标资料格式 [[1,2],[3,4]]
							this.points=[];
							//操作事件的对象(jquery)
							this.$event = obj || null;
							//画板对象(jquery)
							this.$board = $('#svg_path');
							//地图对象
							this.$map =  $('#svg_image');
 
							//鼠标移动坐标
							this.mousemove_points = [];
							//直角是否启动判断键值
							this.right_angle_key = 17; 
							//demo坐标位置
							this.dotted_line = []; 
							//热点成立  其他不成立判断
							this.is_spot = false;
							
							 
							//是否是斜线判断
							this.is_coordinate_offset = false;
							//需要的html对象
							this.htmlObj = {
								//画线开始图标
								line_start:'#line_start',
								line_switch:'#start_draw'
								
								
						
							};
							/*线样式*/
							this.line_style = {
								//演示线样式
								demo_line:{fill: 'none', stroke: 'red', strokeWidth: 1 },
								//实际线样式
								result_line:{fill: 'none', stroke: 'red', strokeWidth: 4 }
								
								
							}
							/*热点大小*/
							this.hotspot_size = {
								width:20,
								height:20
							}
						
							
							
							
							this.__set = function(name,value){
								this[name] = value;
							}
							
							this.again_map = function(){
								this.remove_event();
								this.polyline();
							}
							
							//移除事件绑定    
							/*
							param boolear is_result 是否生成结果
							*/
							this.remove_event = function(is_result,is_board_clear){
								
								 is_result = is_result || false;
								 is_board_clear = (is_board_clear ===false) ? false : true;
								
								$window = $(window);
 								$window.off('keydown',this.right_angle_package);
								$window.off('keyup',this.keyup_fn);
								this.$event.off('click',this.line_click_package);
								this.$event.off('mousemove',this.mousemove_line_package);
								
								$(this.htmlObj.line_start).off('click',this.line_end);
								
								//清楚事件线
								this.svgPolyline([],{},this.$event);
								 //是否清楚画板线
								if(is_board_clear) this.svgPolyline([],{},this.$board);
								
								
								$(this.htmlObj.line_start).css({left:0,top:0,display:'none'});
								
								
								if(is_result) this.result = this.points.slice();
								
								this.points = [];
								
							};
							//围栏绘制功能入口
							this.polyline = function(){
								var _this = this;
								var _window = $(window);
								
								/*格式化数据*/
								this.result =[];
								this.points = [];
								this.is_coordinate_offset = false;
								
								_window.on('keydown',{_this:_this},this.right_angle_package);
								
								_window.on('keyup',{_this:_this},this.keyup_fn)
								
								
								this.$event.on('click',{_this:_this},this.line_click_package);

								
								this.$event.on('mousemove',{_this:_this},this.mousemove_line_package);
								
								$(this.htmlObj.line_start).on('click',{_this:_this},this.line_end);
								

								
							}
							
							this.line_click_package = function(e){
								if(e.data._this.is_spot) return;
								  
								e.data._this.line_click(e);
							}
	  
							
							//划线函数
							this.line_click = function(e){
									
									
									
									var mapObjOffset = this.$map.offset();
									var map_path_line = [];
									map_path_line[0] = e.pageX -  mapObjOffset.left - parseInt(this.$map.css('border-left-width'));
									map_path_line[1] = e.pageY -  mapObjOffset.top - parseInt(this.$map.css('border-top-width'));
									

									
									if (this.points.length === 0){
										
										
										
										var $line_start = $(this.htmlObj.line_start);
										var line_start_width = $line_start.outerWidth()/2;
										var line_start_height = $line_start.outerWidth()/2;
										 
										
										$line_start.css({
											left:map_path_line[0]-line_start_width+'px',
											top:map_path_line[1]-line_start_height+'px',
											display:'block'})
										
									}
									//画直角线的情况  且不是第一个数据
 									if(this.is_coordinate_offset && this.points.length !== 0){
										if(this.dotted_line.length = 2){
											//
											this.points.push(this.dotted_line[1]);
										}
									}else{
										this.points.push(map_path_line);
									}
									
									
									map_path_line = [];
									var points_length = this.points.length;
									
									if (points_length > 1) this.create_spot($('#svg_map_base'),this.points[points_length-1]);

									this.svgPolyline(this.points,this.line_style.result_line,this.$board);
							}
							//按键抬起函数
							this.keyup_fn = function(e){
									
									if(e.which === e.data._this.right_angle_key && e.data._this.mousemove_points.length > 1){
										
										e.data._this.is_coordinate_offset = false;
										e.data._this.svgPolyline(e.data._this.mousemove_points,e.data._this.line_style.demo_line);
									} 
								
							}
							
							//直线函数包
								this.right_angle_package = function(e){
									
									 
									
									if(e.data._this.mousemove_points.length > 1 && e.which === e.data._this.right_angle_key ){
									 	//是否直线函数判断  鼠标移动也直线函数
										e.data._this.is_coordinate_offset = true;
										e.data._this.right_angle(e.data._this.mousemove_points[1]);
										
									}
									 
								}
								//直线函数
								this.right_angle = function(new_points){

									this.dotted_line[0] = this.points[this.points.length-1];
									
									if(Math.abs(this.dotted_line[0][0] - new_points[0]) >= Math.abs(this.dotted_line[0][1] - new_points[1])){
										this.dotted_line[1] = [new_points[0],this.dotted_line[0][1]];
										
									}else{
										
										this.dotted_line[1] = [this.dotted_line[0][0],new_points[1]];
									}
									this.svgPolyline(this.dotted_line,this.line_style.demo_line);
								}
							//鼠标移动划线函数包
							this.mousemove_line_package = function(e){
							
								if(e.data._this.points.length > 0){
									e.data._this.mousemove_line(e);
								}
								
							}
							//鼠标移动划线函数
							this.mousemove_line =function(e){
										var mapObjOffset = this.$map.offset();
										this.mousemove_points[0] = this.points[this.points.length-1];
										this.mousemove_points[1] = [
											e.pageX -  mapObjOffset.left - parseInt(this.$map.css('border-left-width')),
											e.pageY -  mapObjOffset.top - parseInt(this.$map.css('border-top-width'))
										];
										if(this.is_coordinate_offset){
											this.right_angle(this.mousemove_points[1]);
										}else{
											this.svgPolyline(this.mousemove_points,this.line_style.demo_line);
										}
		
										
										
										
										
										
							}
							//围栏结束
							this.line_end = function(e){
								/*_this 本函数的对象*/
								var _this = e.data._this;
								if(_this.points.length > 1) _this.points.push(_this.points[0]);
								
								
								_this.svgPolyline(_this.points,_this.line_style.result_line,_this.$board);
								
								
								//this 判定该函数的对象 
								$(this).css({top:0,left:0,display:'none'});

								
								_this.remove_event(true,false);
								
								/*结束绘制*/
								$(_this.htmlObj.line_switch).find('span').text('重新绘制');
								 
								
								
							}
							/*
							  创建html热点
							  param  parent jquery对象 创建HTML节点的父节点
							  param position 位置数据 left 和 top
							*/
							this.create_spot =  function(parent,position){
								/*本函数属性*/
								
								var attribute = {
			
									/*子节点class*/
									spot_class : 'enclosure_spot',
									/*子节点大小*/
 
								};
	 
								 
								//查找父id
								
								console.log('create_spot-top',this.points); 
								
								var hotspot_top = position[1] - Math.round((this.hotspot_size.height)/2);
								var hotspot_left = position[0] - Math.round((this.hotspot_size.width)/2);
								
								
								
								/*创建子节点*/
								var create_hotspot = $("<div></div>");
								create_hotspot.addClass(attribute.spot_class);
								
								create_hotspot.attr('index',this.points.length-1);
								
								create_hotspot.css(
									{
										left:hotspot_left+'px',
										top:hotspot_top+'px'
									}
								);
								
						      /*移动需要画的虚线*/
							   var move_line = [];
					 
							   /*相对于划线index */
							   var current_spot_index = 0; 
								
								//对热点加事件
								
								
					
									
									
									
									
								
								
																	
										
								
								 /*加子节点*/
								parent.append(create_hotspot);
								
								 
							}
							/*热点鼠标点下事件*/
							
							this.mouse_down = function(e){
									//对象
									var _this = e.data._this;
									//事件
									var $this = $(this);

									// 取消事件冒泡
									e.stopPropagation()
							 	 
								 _this.is_spot = true;

									  /*相对于划线index */
	  
									current_spot_index = $this.attr('index');
		 
									 /*实线数量*/
									 var points_size = _this.points.length;
  
							};
	
				 
					 		/*热点鼠标移动事件*/
							this.spot_mouse_move = function(event){
		 
										win_mousemove_event = event;
										event.stopPropagation();
										var mapObjOffset = _this.$map.offset();
										var map_path_line1 = [];
										map_path_line1[0] = event.pageX -  mapObjOffset.left - parseInt(_this.$map.css('border-left-width'));
										map_path_line1[1] = event.pageY -  mapObjOffset.top - parseInt(_this.$map.css('border-top-width'));

										
										$this.css({
											left:(map_path_line1[0]-Math.round((_this.hotspot_size.width)/2))+'px',
											top:(map_path_line1[1]-Math.round((_this.hotspot_size.height)/2))+'px'
										});
				 
										if(points_size > 1){
											//线位置
											move_line[0] = _this.points[current_spot_index -1];
						 
											move_line[1] = map_path_line1;
											
											if((current_spot_index) < (points_size - 1) && points_size > 2 ) move_line[2] =  _this.points[current_spot_index+1];
							 
											_this.svgPolyline(move_line,_this.line_style.demo_line,_this.$event);
										}
										
										
										
										 
										
 		
										
							};
							/*热点鼠标松开事件*/
							this.spot_mouse_up = function(upEvent){
										var _this = upEvent.data._this;
										 _this.svgPolyline([],_this.line_style.demo_line,_this.$event);
										
										 console.log('create_spot-buttom',_this.points);
									     
										
										upEvent.stopPropagation();
									 	
									    
										_this.points[current_spot_index] = move_line[1];
										 
									    $(window).off(win_mousemove_event);
										
										_this.svgPolyline(_this.points,_this.line_style.result_line,_this.$board);
										
										 move_line = [];
										 
										 _this.is_spot = false;
										
							};
			 
 
							
							//曲线函数
							this.svgPolyline = function(points,param,obj,is_clear){
								
								  
								
								var settings = param || this.line_style.result_line;
								obj = obj || this.$event;
								is_clear = (is_clear === false) ? false :  true;
								obj.svg();
								var $svg = obj.svg('get');
								if(is_clear) $svg.clear();
								if(points.length !== 0) $svg.polyline(points,settings);
								 
							}
							
			 
						}
					});
                 	
                 </script>
            <div id="svg_map_base"  class="each_map_layer"> 
              <!--基础svg图--> 
              <img src="../static/img/floor3.svg"    id="svg_image" class="each_map_layer"> 
              <!--绘制路径-->
              <div id="svg_path" class="each_map_layer"></div>
              <!--房间等信息标识-->
              <div id="svg_sign"  class="each_map_layer"></div>
              <!--用户标识区域-->
              <div id="svg_user_sign" class="each_map_layer"> 
                <!--<img src="/static/img/people.png" style="position:absolute" id="1918E00103AA" title="1918E00103AA"> 
                      <img src="/static/img/people.png" style="position:absolute" id="1918E00103A9" title="1918E00103A9"> 
                      <img src="/static/img/dest.png" style="position:absolute" id="destination" title="终点">--> 
                
              </div>
              <div id="svg_event" class="each_map_layer"> <img src="../static/img/drawing.png" id="line_start" title="围栏绘制起点"    style="position:absolute; display:none;">
                 
              </div>
              <div> </div>
            </div>
          </div>
          <style type="text/css" >
			
				.enclosure_spot{
			
					position:absolute;
					background:url(../static/img/spot.png) no-repeat;
					width:20px;
					height:20px;
					cursor: pointer;
					z-index:10;
				}
            	
				#myCanvas{  
					position: relative;
					overflow: hidden;
					border: 1px solid #b94a48;
					min-width:1702px;
					min-height:892px;
					z-index:1;
					background:url(../static/img/cross.gif);
				}
				/*所有事件在floor3父类上面   下面的子元素层级应该全部小于父元素层级*/
				#svg_map_base {
				 
 					z-index:2;
					
				}
				#svg_image{
					 
					z-index:-100;
					
				}
				#svg_path{
				 
 					z-index:-90;
					 
				}
				#svg_sign{
				 	z-index:-80;
				 
				}
				#svg_user_sign{
					z-index:-10;
					}
				
				
				/*图基本设置*/
				.map_base_data{height:890px;width: 1700px;}
				.each_map_layer{ position:absolute; height:890px; width:1700px;}
				 
            </style>
        </div>
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content --> 
  
  <!--<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>--> 
</div>
<!-- /.main-container --> 

<!-- basic scripts --> 

<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script> 
<script src="../static/ace/components/bootstrap/dist/js/bootstrap.js"></script> 

<!--时间控制插件--> 

<script src="../static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script> 

<!-- ace scripts --> 

<script src="../static/ace/assets/js/src/ace.js"></script> 
<script src="../static/ace/assets/js/src/ace.basics.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar.js"></script> 

<!-- inline scripts related to this page --> 

<!--page scripts --> 
<script src="../static/ace/components/jquery-validation/dist/jquery.validate.js"></script> 
<script>
 
	
	
	
					$('#form-validate').validate({
					errorElement: 'div',
					errorClass: 'help-block',
					focusInvalid: false,
					ignore: "",
					rules: {
						email: {
							required: true,
							email:true
						},
						password: {
							required: true,
							minlength: 5
						},
						password2: {
							required: true,
							minlength: 5,
							equalTo: "#password"
						},
						name: {
							required: true
						},
						phone: {
							required: true,
							phone: 'required'
						},
						url: {
							required: true,
							url: true
						},
						comment: {
							required: true
						},
						state: {
							required: true
						},
						platform: {
							required: true
						},
						subscription: {
							required: true
						},
						gender: {
							required: true,
						},
						agree: {
							required: true,
						}
					},
			
					messages: {
						email: {
							required: "Please provide a valid email.",
							email: "Please provide a valid email."
						},
						password: {
							required: "Please specify a password.",
							minlength: "Please specify a secure password."
						},
						state: "Please choose state",
						subscription: "Please choose at least one option",
						gender: "Please choose gender",
						agree: "Please accept our policy"
					},
			
			
					highlight: function (e) {
						$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
					},
			
					success: function (e) {
						$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
						$(e).remove();
					},
			
					errorPlacement: function (error, element) {
						if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
							var controls = element.closest('div[class*="col-"]');
							if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
							else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
						}
						else if(element.is('.select2')) {
							error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
						}
						else if(element.is('.chosen-select')) {
							error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
						}
						else error.insertAfter(element.parent());
					},
			
					submitHandler: function (form) {
					},
					invalidHandler: function (form) {
					}
				});

</script>
</body>
</html>
