<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>和仲位置服务平台</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../static/ace/assets/css/bootstrap.css" />
<link rel="stylesheet" href="../static/ace/components/font-awesome/css/font-awesome.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="../static/components/jquery.gritter/css/jquery.gritter.css" />

<!-- text fonts -->

<!-- ace styles -->
<link rel="stylesheet" href="../static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-skins.css" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-rtl.css" />


<!-- svg样式 -->
<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">

<!-- inline styles related to this page -->
<!--时间插件-->

<link rel="stylesheet" href="../static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>

<!--hz地图样式-->

<!-- ace settings handler -->
<script src="../static/ace/assets/js/ace-extra.js"></script>
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body class="no-skin"  style=" min-width:1900px;">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state" style=" min-width:190px;">
  <div class="navbar-container ace-save-state" id="navbar-container"> 
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    
    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left"> 
      <!-- #section:basics/navbar.layout.brand --> 
      <a href="#" class="navbar-brand" style="padding-top:0; padding-bottom:0;"> <img src="../static/img/logo.jpg" /> </a> 
      
      <!-- /section:basics/navbar.layout.brand --> 
      
      <!-- #section:basics/navbar.toggle --> 
      
      <!-- /section:basics/navbar.toggle --> 
    </div>
    
    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        
        <!-- #section:basics/navbar.user_menu -->
        <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="../static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
          <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
            <li> <a href="profile.html"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
            <li class="divider"></li>
            <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
          </ul>
        </li>
        
        <!-- /section:basics/navbar.user_menu -->
      </ul>
    </div>
    
    <!-- /section:basics/navbar.dropdown --> 
  </div>
  <!-- /.navbar-container --> 
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script> 
  
  <!-- #section:basics/sidebar -->
  <div id="sidebar" class="sidebar                  responsive                    ace-save-state"> 
    <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script> 
    <script src="/static/js/jquery.min.js"></script> 
    <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script> 
    <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script> 
    <script src="../static/js/jquery.mousewheel.js"></script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
        <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>
        
        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
        <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
        
        <!-- /section:basics/sidebar.layout.shortcuts --> 
      </div>
      
      <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>--> 
    </div>
    <!-- /.sidebar-shortcuts -->
    
    <ul class="nav nav-list">
      <li class=""> <a href="#" class="dropdown-toggle"> <i class="menu-icon  fa fa-home"></i> <span class="menu-text"> 我的建筑 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
        <ul class="submenu">
          <li class=""> <a href="/token"> <i class="menu-icon fa fa-caret-right"></i> 地图导航 </a> <b class="arrow"></b> </li>
          <li class=""> <a href="/hz_page2"> <i class="menu-icon fa fa-caret-right"></i> 坐标拾取 </a> <b class="arrow"></b> </li>
          <li class="active"> <a href="/hz_history_loc"> <i class="menu-icon fa fa-caret-right"></i> 历史轨迹 </a> <b class="arrow"></b> </li>
          <li class=""> <a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-caret-right"></i> <span class="menu-text"> 电子围栏 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
            <ul class="submenu">
              <li class=""> <a href="/hz_electronic_rail"> <i class="menu-icon fa fa-caret-right"></i> 实时信息 </a> <b class="arrow"></b> </li>
              <li class=""> <a href="/hz_page1"> <i class="menu-icon fa fa-caret-right"></i> 历史警报 </a> <b class="arrow"></b> </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.nav-list --> 
    
    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
    
    <!-- /section:basics/sidebar.layout.minimize --> 
  </div>
  
  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner"> 
      <!-- #section:basics/content.breadcrumbs --> 
      
      <!-- /section:basics/content.breadcrumbs -->
      <div class="page-content" style="padding-bottom:0px;">
        <div class="row">
          <div  id="myCanvas">
            <div class="" id="map_controller_panel" style="position:absolute; top:60px; left:80px; z-index:1000; width:370px;">
              <div class="btn-group btn-group-xs col-xs-12" id="map_panel_button" style="background:#FFF; border:1px solid #CCC;">
                <button type="button" class="btn btn-primary" id="setEnclosure" hz_target = "#EnclosureConcent" >设置围栏</button>
                <button type="button" class="btn btn-primary" id="setEnclosure2" hz_target = "#EnclosureConcent2" >查询围栏</button>
              </div>
              <div class="map_panel_content col-xs-12" style="background:#FFF; border:1px solid #CCC;">
                <div class="col-xs-12"  style="display:none; " id="EnclosureConcent">
                  <div class="row" style="padding-right:10px; padding-top:20px;">
                    <form role="form" class="form-horizontal" id="form-validate">
                      <div class="alert alert-info"> 设置围栏相关设置 <br />
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">围栏名称:</label>
                        <div class="col-sm-9">
                          <input type="text"  id="set_enclosure_name" name="set_enclosure_name" placeholder=""  />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname"  class="col-sm-3 control-label no-padding-right">楼层:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="set_enclosure_floor" name="set_enclosure_floor">
                            <option value="floor3">3楼</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">进入警报方式:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="set_enclosure_into_alert" name="set_enclosure_into_alert" >
                            <option value="text">文本</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname"  class="col-sm-3 control-label no-padding-right">进入警报内容:</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" rows="3" id="set_enclosure_into_alert_content" name="set_enclosure_into_alert_content"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname"  class="col-sm-3 control-label no-padding-right">退出警报方式:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="set_enclosure_out_alert" name="set_enclosure_out_alert">
                            <option value="text">文本</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">退出警报内容:</label>
                        <div class="col-sm-9">
                          <textarea class="form-control" id="set_enclosure_out_alert_content" name="set_enclosure_out_alert_content" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label no-padding-right">绘制范围:</label>
                        <div class="col-sm-9">
                          <div class="col-xs-6">
                            <select class="form-control" id="enclosure_spot_method" >
                              <option value="square">方形绘图</option>
                              <option value="polyline">折线绘图</option>
                            </select>
                          </div>
                          <div class="col-xs-6">
                            <button type="button" id="start_draw" class="btn btn-xs btn-danger"> <span id="start_draw_span">开始绘制</span> <i class="ace-icon fa fa-arrow-right icon-on-right"></i> </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6 col-xs-push-6">
                          <input type="submit" class="btn btn-success btn-xs" id="set_enclosure_submit" value="提交" />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-xs-12" style="display:none;" id="EnclosureConcent2">
                  <div class="row" style="padding-right:10px; height:200px;"> 
                 
                 		
                         <form role="form" class="form-horizontal" id="form-validate">
                      <div class="alert alert-info">查询围栏<br />
                      </div>
                      
                      <div class="form-group">
                        <label for="firstname" class="col-sm-6 control-label no-padding-right">电子围栏设置查询:</label>
                        <div class="col-sm-6">
                          <select id="electronic-fence-address" >
                            <option value="0">请选择地址</option>
                            <option value="Floor3">和仲通讯</option>
                             
                          </select>
                        </div>
                      </div>
                      
                      
                      
                      
                      <div class="form-group">
                        <div class="col-xs-6 col-xs-push-6">
                          <button type="button" class="btn btn-success btn-xs" id="electronic-fence-query-button" />查询</button>
                        </div>
                      </div>
                    </form>
                      
                      
                      
                  </div>
                </div>
              </div>
            </div>
            
            <div id="gritter-notice-wrapper" style="position:absolute; right:0px; z-index:1001;"></div>
            
            
           	<script>
			
				
				'use strict';
				var hzX = 0, hzY = 0;   // 坐标系原点
				var margin = 0;        //外边距
				var real_loc_to_pix = 0.0891;      //物理单位转像素单位 比例      比例转换计算公式x为传来的数据   x * real_loc_to_pix * zoom
				var map_w = 3477;       /// px
				var map_h = 1769;
				var zoom = 0.4889;          /// 地图缩放级别
				var hz_is_navigating = false;      /// 是否曾经设置过导航，或正在导航中
				var HZ_DESTINATION_MEETING_ROOM = 27;     //办公室编号
				var hz_destination = HZ_DESTINATION_MEETING_ROOM;            /// 导航的目的地，默认 第一个 目的地
				var hz_time_id = 0;    //废弃
				var hz_user_id = 0;   //下面的索引   实际函数用0应该是未选择
				var HZ_USER_IDS = ['1918E00103AA', '1918E00103A9'];
				var hz_user_xy = [];   //用户数据  每项为一个用户
				
				var storage = window.localStorage;
				
				
				
				
				
				if(storage){
					//storage.clear();
					///alert("浏览支持localStorage");
					var _userId = storage['hz_user_id'];
					if(typeof _userId !== 'undefined') {
						hz_user_id = _userId;
					}
					var hz_zoom = storage['hz_zoom'];
					///alert(hz_zoom);
					if(typeof hz_zoom !== 'undefined') {    /// 存在值
						zoom = hz_zoom;
					}
				
					var _dest = parseInt(storage['hz_destination']);
					isNaN(_dest) ? hz_destination = HZ_DESTINATION_MEETING_ROOM : hz_destination = _dest;
				
					///alert(storage['hz_is_navigating'] + "  " + Boolean(storage['hz_is_navigating']));
					hz_is_navigating = Boolean(storage['hz_is_navigating']);
				}else{
					///alert("浏览暂不支持localStorage");
				}
				
				
            	$(function(){
				
				
				
									//以下变量可用可不用
					
					var $svg_map_base = $('#svg_map_base');
					var $svg_event = $('#svg_event');
					var $svg_board = $('#svg_path');
					var $svg_map =  $('#svg_image');
					
					var $document = $(document);

				
				
				
				
				
					
					//地图缩放
					
					//地图缩放函数
					
		 
					
					
							  
          	//iii
			//鼠标滚轮缩放svg图
		
				 
				 //localStorage.clear();
				
				 
				$svg_event.ready(
					function(){
						
						
						
						//获取svg图对象
						var mapSign = $svg_map_base;
						//设置缩放速度   比例缩放
						var zoomSpeed = 0.05;
						
		 
						// using the event helper
						$svg_event.on('mousewheel',addMousewheelEvent);
 						function addMousewheelEvent(event, delta, deltaX, deltaY) {
						
						 		//svg图的最小 最大  X和Y
								var mapMinX,mapMaxX,mapMinY,mapMaxY;
								
								var mapOffset = mapSign.offset();
								
								var mapOuterWidth = mapSign.outerWidth();
								var mapOuterHeight = mapSign.outerHeight();
								
								mapMinX = mapOffset.left;
								mapMaxX = mapOffset.left + mapOuterWidth;
								mapMinY = mapOffset.top;
								mapMaxY = mapOffset.top + mapOuterHeight;
								
								
								
								
							
							
							if(event.pageX > mapMinX && event.pageX < mapMaxX && event.pageY > mapMinY && event.pageY <  mapMaxY){

								
								  /*取消默认事件*/
								  event.preventDefault()
								  /*计算速度*/
 						 			
								  
								  var mapHeight, mapWidth, mapTopBorder , mapLeftBorder ,mapTop, mapLeft , speedTop ,speedLeft;
								  /*#map 的基本参数*/
								  mapHeight = mapSign.height();
								  mapWidth = mapSign.width();
								  
								  mapTopBorder = parseInt(mapSign.css('border-top-width'));
								  mapLeftBorder = parseInt(mapSign.css('border-left-width'));
								  
								  mapTop = parseInt(mapSign.css('top'));
								  mapLeft = parseInt(mapSign.css('left'));
								  
								  
								  
								  /*计算缩放速度  单独的top  或  left*/
								  
								  if(delta == 1){
								  	  speedTop =  parseInt(zoomSpeed * mapHeight);
									  console.log ('speedTop',speedTop); 
									  speedLeft =  parseInt(zoomSpeed * mapWidth);
								  }else{
								  	  speedTop =  -parseInt(zoomSpeed * mapHeight);
									  speedLeft = -parseInt(zoomSpeed * mapWidth);
								  }
								  
								 
								/*更改后的高*/
								var resultHeight = mapHeight + (speedTop * 2); 
								var resultWidth = mapWidth + (speedLeft * 2);
								
								
								/*鼠标在图内距离*/
								var currentMouseTop = event.pageY - mapMinY - mapTopBorder;
								var currentMouseLeft = event.pageX - mapMinX - mapLeftBorder;
								/*缩放后再图内的距离*/
								var mouseTop = Math.round(currentMouseTop - (currentMouseTop / mapHeight * resultHeight));
								var mouseLeft = Math.round(currentMouseLeft - (currentMouseLeft / mapWidth * resultWidth));
								 
								 
		
 
 								/*计算svg偏离距离*/
								/*svg图的left*/
 
									
										
								hzY = mapTop + mouseTop  ;
					 			hzX =  mapLeft + mouseLeft ;
									
					 				
								/*保存缩放比例*/
							 	zoom = resultWidth / map_w;
								storage['hz_zoom'] = zoom;
									
									
									
									console.log('margin',margin,'resultHeight',resultHeight,'resultWidth',resultWidth);
									
 									zoomFn(resultHeight,resultWidth);
									
									$svg_map_base.css({
										left:hzX+'px',
										top:hzY + 'px'
									})
									
        						  //hz_map_zoom(margin, margin, resultHeight , resultWidth);
 		  						  //hz_change_item_in_map();
								  
								 /*计算图片相对父元素位置*/
 								  
							}
  							 
						}
					}
				);	
		
			
			
			//缩放函数
			zoomFn(map_h*zoom,map_w*zoom);
			function  zoomFn(height,width){
				var $each_map_layer = $('.each_map_layer');
				$each_map_layer.animate({height:height+'px',width:width+'px'},'fast','swing');
				$each_map_layer.stop(false,true);
			}
         
					
					
					
					
					
					
					//地图移动变量
					
					var mapMoveMousedownX,mapMoveMousedownY;
					var currentX,currentY;
					
					
					function addMapMoveEvent(){
						$svg_event.on('mousedown',mapMoveMousedownFn);
					}
					//事件函数
					function mapMoveMousedownFn(e){
						 mapMoveMousedownX = e.pageX;
						 mapMoveMousedownY = e.pageY;
						
					    
						
						$document.on('mousemove',mapMoveMousemoveFn);
						
						$document.on('mouseup',mapMoveMouseupFn);
						
						return false;
						
					}
					function mapMoveMousemoveFn(e){
						var svg_map_base_offset = $svg_map_base.offset();
						
						currentX = e.pageX - mapMoveMousedownX + parseInt(hzX);
						currentY = e.pageY - mapMoveMousedownY + parseInt(hzY);
						
					 
						
						$svg_map_base.css({
							left:currentX+'px',
							top:currentY+'px'
						});
						
					}
					function mapMoveMouseupFn(){
						hzX = currentX;
						hzY = currentY;
						$document.off('mousemove',mapMoveMousemoveFn);
						$document.off('mouseup',mapMoveMouseupFn);
						
					}
					
					function removeMapMoveEvent(){
						$svg_event.off('mousedown',mapMoveMousedownFn);
					}
					
					
					addMapMoveEvent();
					
				})
            </script>
            
            
            <script>
			
			
						/*像素转换物理单位*/
			function mmConversion(number){
				return Math.round(number / real_loc_to_pix / zoom);
			}

			
			
			
			
                 	$(function(){
						

						
						
						/*
							param $this obg   要检查的对象   
							      data  arr  [0]位X坐标   [1]为Y坐标
						*/
						function test_range($this,data){
							
								var mapMinX,mapMaxX,mapMinY,mapMaxY;
								
								var mapOffset = $this.offset();
								
								var mapOuterWidth = $this.outerWidth();
								var mapOuterHeight = $this.outerHeight();
								
								mapMinX = mapOffset.left;
								mapMaxX = mapOffset.left + mapOuterWidth;
								mapMinY = mapOffset.top;
								mapMaxY = mapOffset.top + mapOuterHeight;
							
							if(data[0] > mapMinX && data[0] < mapMaxX && data[1] > mapMinY && data[1] <  mapMaxY){
									return true;
							}
							return false;
							
						}
						
						
						
						function start_draw(){
							var $map = $('#map');
							var $svg_path = $('#svg_path');
							var $svg_path_offset = $svg_path.offset();
							$svg_path.svg();
							var $svg = $svg_path.svg('get');
							//画图位置数据
							var drawLineData =[]; 
							//相对于svg图数据
							
							$svg_path.on('click',function(e){
								var pageX = e.pageX;
								var pageY = e.pageY;
								
								if(!test_range($map,[pageX,pageY])) return false;
								
								
								var map_path_line = [];
								map_path_line[0] = e.pageX -  $svg_path_offset.left - parseInt($svg_path.css('border-left-width'));
								map_path_line[1] = e.pageY -  $svg_path_offset.top - parseInt($svg_path.css('border-top-width'));
								drawLineData.push(map_path_line);
								map_path_line = [];
								
								drawLine($svg,drawLineData);
								
								
							})
							

						}
						
						function drawLine(svg_obj,LineData){
							 svg_obj.polyline(LineData,{fill: 'none', stroke: 'blue', strokeWidth: 4});	
						}
						
						
						
						
	 
						//svg地图 控制面板
						$("#map_panel_button button").on('click',function(){
							
							
							
							var $this = $(this);
							
							
							if($this.hasClass('active')){
								map_button_slide_up($this);
							}else{
								map_button_slide_down($this)
							};
						 
 						});
						
						
						
						
						function map_button_slide_down($this){
							$this.addClass('active');
						 
							$this.siblings().removeClass('active');
							
							var $target = $($this.attr('hz_target'));
							
							$target.siblings().slideUp('100',function(){
								$target.slideDown();
							})
							
							 
							
													
						
						}
						function map_button_slide_up($this){
							$this.removeClass('active');
							var $target = $($this.attr('hz_target'));
							$target.slideUp();						
						
						}
						
 
						
						
					});
                 </script> 
            <script>
				 
				 
				 	$(function(){
			 
						
						var enclosure1 = new enclosure();
						$("#start_draw").on('click',function(){
							
								var $this = $(this);
								var $span = $this.find('span');
								var buttonText = $span.text();
								var $method_select = $('#enclosure_spot_method');
 							if($('#enclosure_spot_method').val() === 'polyline'){
								
								if(buttonText === '清空绘制'){
									$span.text('开始绘制');
									
									$method_select.removeAttr('disabled');
									
									enclosure1.remove_event();
									

		 
								 
								}else {
									$span.text('清空绘制');
									
									$method_select.attr('disabled','disabled');
									enclosure1.polyline(); 
									
									 
									
								 	
								 
								}
							}
							//方形绘图
							 if($('#enclosure_spot_method').val() === 'square'){
 								if(buttonText === '清空绘制'){
									$span.text('开始绘制');
									$method_select.removeAttr('disabled');
									enclosure1.remove_square(); 
								}else {
									$span.text('清空绘制');
									
									$method_select.attr('disabled','disabled');
									enclosure1.square();
									 
								 
								}
							}
							
							
						});
						
						
	 
						
						/*
						param object obj jquery对象
						*/
						function enclosure(){
						 
							//坐标资料格式 [[1,2],[3,4]]
							this.points=[];
							//操作事件的对象(jquery)
							this.$event = $('#enclosureEvent');
							//画板对象(jquery)
							this.$board = $('#svg_path');
							this.$board.svg();
							this.$board_svg = this.$board.svg('get');
							//地图对象
							this.$map =  $('#svg_image');
 
							//鼠标移动坐标
							this.mousemove_points = [];
							//直角是否启动判断键值
							this.right_angle_key = 17; 
							//demo坐标位置
							this.dotted_line = []; 
							//热点成立  其他不成立判断
							this.is_spot = false;
							
							 
							//是否是斜线判断
							this.is_coordinate_offset = false;
							//需要的html对象
							this.htmlObj = {
								//画线开始图标
								line_start:'#line_start',
								line_switch:'#start_draw'
								
								
						
							};
							/*线样式*/
							this.line_style = {
								//演示线样式
								demo_line:{fill: 'none', stroke: 'red', strokeWidth: 1 },
								//实际线样式
								result_line:{fill: 'none', stroke: 'red', strokeWidth: 4 }
								
								
							}
							/*热点大小*/
							this.hotspot_size = {
								width:20,
								height:20
							}
							/*移动需要画的虚线*/
							this.spot_move_line = [];
							/*热点 线坐标*/
							this.hotspot_new_position = [];
							 /*扫尾*/
							 //里面只存函数扫尾函数
							this.map_up_cache = [];
							//本函数有问题需解决  暂时用笨办法
							this.map_up_implement = function(){
								var map_up_cache_length = this.map_up_cache.length;
								for(var i = 0 ; i < map_up_cache_length; i++){
									console.log(this.map_up_cache[i]);
									this.map_up_cache[i]();
									
								}
								this.map_up_cache = [];
							}
							
							
							
							this.__set = function(name,value){
								this[name] = value;
							}
							
							




							this.again_map = function(){
								this.remove_event();
								this.polyline();
								
							}
			 
							
							this.remove_polyline = function(){
								this.remove_hotspot();
								this.remove_event();
							}
							
							//移除事件绑定    
							/*
							param boolear is_result 是否生成结果
							*/
							this.remove_event = function(is_board_clear){
								
								  //默认清除画板
								 is_board_clear = (is_board_clear ===false) ? false : true;
								
								$('#enclosureEvent').css('display','none');
								$window = $(window);
 								$window.off('keydown',this.right_angle_package);
								$window.off('keyup',this.keyup_fn);
								this.$event.off('click',this.line_click_package);
								this.$event.off('mousemove',this.mousemove_line_package);
								
								$(this.htmlObj.line_start).off('click',this.line_end);
								
								//清楚事件线
								this.svgPolyline([],{},this.$event);
								 //是否清楚画板线
								if(is_board_clear){ 
									this.svgPolyline([],{},this.$board);
									$('#svg_map_base > .enclosure_spot').remove();
								}
								
								
								$(this.htmlObj.line_start).css({left:0,top:0,display:'none'});
								
								
							 
								
							};
							//围栏绘制功能入口
							this.polyline = function(){
								var _this = this;
								var _window = $(window);
								
								/*格式化数据*/
							 
								this.points = [];
								this.is_coordinate_offset = false;
								//打开事件绑定div
								$('#enclosureEvent').css('display','block');
								
								_window.on('keydown',{_this:_this},this.right_angle_package);
								
								_window.on('keyup',{_this:_this},this.keyup_fn)
								
								
								this.$event.on('click',{_this:_this},this.line_click_package);

								
								this.$event.on('mousemove',{_this:_this},this.mousemove_line_package);
								
								$(this.htmlObj.line_start).on('click',{_this:_this},this.line_end);
								

								
							}
							
							this.line_click_package = function(e){
								 
								  
								e.data._this.line_click(e);
							}
	  
							
							//划线函数
							this.line_click = function(e){
									
									
									
									var mapObjOffset = this.$map.offset();
									var map_path_line = [];
									map_path_line[0] = e.pageX -  mapObjOffset.left - parseInt(this.$map.css('border-left-width'));
									map_path_line[1] = e.pageY -  mapObjOffset.top - parseInt(this.$map.css('border-top-width'));
									

									
									if (this.points.length === 0){
										
										
										
										var $line_start = $(this.htmlObj.line_start);
										var line_start_width = $line_start.outerWidth()/2;
										var line_start_height = $line_start.outerWidth()/2;
										 
										
										$line_start.css({
											left:map_path_line[0]-line_start_width+'px',
											top:map_path_line[1]-line_start_height+'px',
											display:'block'})
										
									}
									//画直角线的情况  且不是第一个数据
 									if(this.is_coordinate_offset && this.points.length !== 0){
										if(this.dotted_line.length = 2){
											//
											this.points.push(this.dotted_line[1]);
										}
									}else{
										this.points.push(map_path_line);
									}
									
									
									map_path_line = [];
									var points_length = this.points.length;
									
									if (points_length > 1) this.create_hotspot($('#svg_map_base'),this.points[points_length-1],points_length-1);

									this.svgPolyline(this.points,this.line_style.result_line,this.$board);
									
									console.log('square_mouse_up',this.points);
							}
							//按键抬起函数
							this.keyup_fn = function(e){
									
									if(e.which === e.data._this.right_angle_key && e.data._this.mousemove_points.length > 1){
										
										e.data._this.is_coordinate_offset = false;
										e.data._this.svgPolyline(e.data._this.mousemove_points,e.data._this.line_style.demo_line);
									} 
								
							}
							
							//直线函数包
								this.right_angle_package = function(e){
									
									 
									
									if(e.data._this.mousemove_points.length > 1 && e.which === e.data._this.right_angle_key ){
									 	//是否直线函数判断  鼠标移动也直线函数
										e.data._this.is_coordinate_offset = true;
										e.data._this.right_angle(e.data._this.mousemove_points[1]);
										
									}
									 
								}
								//直线函数
								this.right_angle = function(new_points){

									this.dotted_line[0] = this.points[this.points.length-1];
									
									if(Math.abs(this.dotted_line[0][0] - new_points[0]) >= Math.abs(this.dotted_line[0][1] - new_points[1])){
										this.dotted_line[1] = [new_points[0],this.dotted_line[0][1]];
										
									}else{
										
										this.dotted_line[1] = [this.dotted_line[0][0],new_points[1]];
									}
									this.svgPolyline(this.dotted_line,this.line_style.demo_line);
								}
							//鼠标移动划线函数包
							this.mousemove_line_package = function(e){
							
								if(e.data._this.points.length > 0){
									e.data._this.mousemove_line(e);
								}
								
							}
							//鼠标移动划线函数
							this.mousemove_line =function(e){
										var mapObjOffset = this.$map.offset();
										this.mousemove_points[0] = this.points[this.points.length-1];
										this.mousemove_points[1] = [
											e.pageX -  mapObjOffset.left - parseInt(this.$map.css('border-left-width')),
											e.pageY -  mapObjOffset.top - parseInt(this.$map.css('border-top-width'))
										];
										if(this.is_coordinate_offset){
											this.right_angle(this.mousemove_points[1]);
										}else{
											this.svgPolyline(this.mousemove_points,this.line_style.demo_line);
										}
		
										
										
										
										
										
							}
							//围栏结束
							this.line_end = function(e){
								/*_this 本函数的对象*/
								var _this = e.data._this;
								
								var points_length = _this.points.length;
								
								//this 判定该函数的对象 
								$(this).css({top:0,left:0,display:'none'});
								
								if(points_length > 1){
									 _this.points.push(_this.points[0]);
									//画热点
									 _this.create_hotspot($('#svg_map_base'),_this.points[points_length],_this.points.length-1,true);
									 
									  
								}
								
								_this.svgPolyline(_this.points,_this.line_style.result_line,_this.$board);
								
								


								
								_this.remove_event(false);
								
								
	 
								 
								//结束绘制
								//$(_this.htmlObj.line_switch).find('span').text('清空绘制');
								
								
							}
							//方框
							this.square = function(){
						 		
								//打开事件绑定div
								$('#enclosureEvent').css('display','block');

								this.$event.on('mousedown',{_this:this},this.square_mouse_down_package);
							}
							this.square_mouse_down_package = function(e){
								var _this = e.data._this;
								_this.square_mouse_down(e);
								return false;
							}
							this.square_mouse_down = function(e){
								//第一个点
								var spot0 = [];
								
   							    var $map = this.$map;	
							    var mapObjOffset = $map.offset();	
								this.points = [];
								
								
								spot0[0] = e.pageX -  mapObjOffset.left - parseInt($map.css('border-left-width'));
								spot0[1] = e.pageY -  mapObjOffset.top - parseInt($map.css('border-top-width'));
								this.points[0] = spot0;
								$window = $(window);
								$window.on('mousemove',{_this:this},this.square_mouse_move_package);
								$window.on('mouseup',{_this:this},this.square_mouse_up_package);	
								
								
							}
							
							this.square_mouse_move_package = function(e){
								var _this = e.data._this;
								_this.square_mouse_move(e);
							}
							this.square_mouse_move = function(e){
								var spot1 = [],spot2 = [],spot3 = [];
								var $map = this.$map;	
							    var mapObjOffset = $map.offset();
								/*移动原点*/
								 
								
								spot2[0] = e.pageX -  mapObjOffset.left - parseInt($map.css('border-left-width'));
								spot2[1] = e.pageY -  mapObjOffset.top - parseInt($map.css('border-top-width'));	
								
								spot1[0] = spot2[0];
								spot1[1] = this.points[0][1];
		
							 
							
								spot3[0] = this.points[0][0];
								spot3[1] = spot2[1];
								
								this.points[1] = spot1;
								this.points[2] = spot2;
								this.points[3] = spot3;
								this.points[4] = this.points[0];
								
								this.svgPolyline(this.points,this.line_style.demo_line,this.$event);
								
							}
							
							this.square_mouse_up_package = function(e){
								var _this = e.data._this;
								_this.square_mouse_up(e);
							}
							
							this.square_mouse_up = function(e){
								this.svgPolyline([],{},this.$event);
								this.remove_hotspot();
								this.svgPolyline(this.points,this.line_style.result_line,this.$board);
								$window = $(window);
								$window.off('mousemove',this.square_mouse_move_package);
								$window.off('mouseup',this.square_mouse_up_package);
								var points_length = this.points.length;
								if(points_length < 2){
									this.points = [];
								}else{
									for(var i = 1 ; i < points_length; i++){
										if(i < (points_length - 1)){
											this.create_hotspot($('#svg_map_base'),this.points[i],i);
										}else{
											this.create_hotspot($('#svg_map_base'),this.points[i],i,true);
										}
									}
								}
								console.log('square_mouse_up',this.points);
							}
							
							
							/*创建热点*/
							/*
							param $parent 父div jquery 对象
							position 坐标   left top 值
							idnex 索引  地位在points 中的位置
							is_end_spot boolear 是否是尾点
							
							*/
							this.create_hotspot = function($parent,position,index,is_end_spot){
								//创建对象的类
								var hotspot_class = 'enclosure_spot';
								var is_end_spot = is_end_spot || false;
								 
								
								var hotspot_left = position[0] - Math.round((this.hotspot_size.width)/2);
								var hotspot_top = position[1] - Math.round((this.hotspot_size.height)/2);
								
 								var $create_hotspot = $("<div></div>");
								$create_hotspot.addClass(hotspot_class);
								
								$create_hotspot.attr('index',index);
								//创建尾点标记
								if(is_end_spot) $create_hotspot.attr('is_end_spot',1);
								
								  
								
								$create_hotspot.css(
									{
										left:hotspot_left+'px',
										top:hotspot_top+'px'
									}
								);
 								
								$create_hotspot.on('mousedown',{_this:this},this.hotspot_mouse_down_package);
									
								$parent.append($create_hotspot);
							}
							
							this.hotspot_mouse_down_package = function(e){
								var _this = e.data._this;
								_this.hotspot_mouse_down(e,this);
								return false;
							}
							this.hotspot_mouse_down = function(e,obj){
								 
									//事件
									var $this = $(obj);
  
									current_spot_index = parseInt($this.attr('index'));
									 
									 /*实线数量*/
									 var points_size = this.points.length;
									 console.log('hotspot_mouse_down')
								 
  
									 $(window).on('mousemove',{_this:this,$obj:$this,current_spot_index:current_spot_index,points_size:points_size},this.hotspot_mouse_move_package);
									 
									 $(window).on('mouseup',{_this:this,$obj:$this,current_spot_index:current_spot_index,points_size:points_size},this.hotspot_mouse_up_package);
  
								
								
							}
							
							this.hotspot_mouse_move_package = function(e){
								var _this = e.data._this;
								_this.hotspot_mouse_move(e);
								
		   					}
							this.hotspot_mouse_move = function(e){
								console.log('hotspot_mouse_move')
						
								//$obj 当前点下的元素
								var $obj = e.data.$obj;
								var current_spot_index = e.data.current_spot_index;
								var points_size = e.data.points_size;
								var mapObjOffset = this.$map.offset();
							 
								
								
								var map_path_line1 = [];
								map_path_line1[0] = e.pageX  -  mapObjOffset.left - parseInt(this.$map.css('border-left-width'));
								map_path_line1[1] = e.pageY  -  mapObjOffset.top - parseInt(this.$map.css('border-top-width'));

								
								$obj.css({
									left:(map_path_line1[0]-Math.round((this.hotspot_size.width)/2))+'px',
									top:(map_path_line1[1]-Math.round((this.hotspot_size.height)/2))+'px'
								});
								
								 
									//线位置
									if($obj.attr('is_end_spot') != 1){/*不是尾点的情况*/
										if(points_size > 1){
											//大于一个点  才需要划线
									 
											this.spot_move_line[0] = this.points[current_spot_index-1];
											this.spot_move_line[1] = map_path_line1;
											this.hotspot_new_position = map_path_line1;
											if(current_spot_index < (points_size - 1) && points_size > 2 ) this.spot_move_line[2] =  this.points[current_spot_index+1];
											this.svgPolyline(this.spot_move_line,this.line_style.demo_line,this.$event);
										}else{
											this.hotspot_new_position = map_path_line1;
										}
									}else{
										
										if(points_size > 1){
											//大于一个点  才需要划线
									 
											this.spot_move_line[0] = this.points[1];
											this.spot_move_line[1] = map_path_line1;
											this.hotspot_new_position = map_path_line1;
											if(points_size > 2 ) this.spot_move_line[2] =  this.points[current_spot_index-1];
											this.svgPolyline(this.spot_move_line,this.line_style.demo_line,this.$event);
										}else{
											this.hotspot_new_position = map_path_line1;
										}
									}

 
									 
									
									
					 
									
									
								 
										
							}
							this.hotspot_mouse_up_package = function(e){
								var _this = e.data._this;
								_this.hotspot_mouse_up(e);
		   					}
							this.hotspot_mouse_up = function(e){
								 console.log('hotspot_mouse_up')
								var $obj = e.data.$obj;
								var current_spot_index = e.data.current_spot_index;
								var points_size = e.data.points_size;
								
								this.svgPolyline([],{},this.$event);
					 		 	
								/*不是尾点的情况*/
							 if($obj.attr('is_end_spot') != 1){
								this.points[current_spot_index] = this.hotspot_new_position;
							 }else{
								this.points[current_spot_index] = this.hotspot_new_position;
								this.points[0] = this.hotspot_new_position;
							 }
									 
						 
								
								 console.log('this.spot_move_line[1]',this.spot_move_line[1]);
								$(window).off('mousemove',this.hotspot_mouse_move_package);
								
								this.svgPolyline(this.points,this.line_style.result_line,this.$board);
								
								console.log('spot_mouse_up',this.points);
								
								 this.hotspot_new_position = [];
								 this.spot_move_line = [];
							 
								 $(window).off('mouseup',this.hotspot_mouse_up_package);
								
							}
							
							this.remove_hotspot = function(){
								
							 
								
								$('#svg_map_base > .enclosure_spot').remove();
								
							}
		 
							this.remove_square = function(){
								$('#enclosureEvent').css('display','none');
								this.$event.off('mousedown',this.square_mouse_down_package);
								this.$board_svg.clear();
								this.remove_hotspot();
								
							}
			 
 
							
							//曲线函数
							this.svgPolyline = function(points,param,obj,is_clear){
								
								  
								
								var settings = param || this.line_style.result_line;
								obj = obj || this.$event;
								is_clear = (is_clear === false) ? false :  true;
								obj.svg();
								var $svg = obj.svg('get');
								if(is_clear) $svg.clear();
								if(points.length !== 0) $svg.polyline(points,settings);
								 
							}
							
			 
						}
						
						
						
						
						
						
						
						
						
						
						
						
						
						
									(function( factory ) {
							if ( typeof define === "function" && define.amd ) {
								define( ["jquery", "../jquery.validate"], factory );
							} else {
								factory( jQuery );
							}
						}(function( $ ) {
						
						/*
						 * Translated default messages for the jQuery validation plugin.
						 * Locale: ZH (Chinese, 中文 (Zhōngwén), 汉语, 漢語)
						 */
						$.extend($.validator.messages, {
							required: "这是必填字段",
							remote: "请修正此字段",
							email: "请输入有效的电子邮件地址",
							url: "请输入有效的网址",
							date: "请输入有效的日期",
							dateISO: "请输入有效的日期 (YYYY-MM-DD)",
							number: "请输入有效的数字",
							digits: "只能输入数字",
							creditcard: "请输入有效的信用卡号码",
							equalTo: "你的输入不相同",
							extension: "请输入有效的后缀",
							maxlength: $.validator.format("最多可以输入 {0} 个字符"),
							minlength: $.validator.format("最少要输入 {0} 个字符"),
							rangelength: $.validator.format("请输入长度在 {0} 到 {1} 之间的字符串"),
							range: $.validator.format("请输入范围在 {0} 到 {1} 之间的数值"),
							max: $.validator.format("请输入不大于 {0} 的数值"),
							min: $.validator.format("请输入不小于 {0} 的数值")
						});
						
						}));
					
 
					$('#form-validate').validate({
					errorElement: 'div',
					errorClass: 'help-block',
					focusInvalid: false,
					ignore: "",
					rules: {
						set_enclosure_name: {
							required: true,
							 
						},
						set_enclosure_floor: {
							required: true,
						 
						},
						set_enclosure_into_alert: {
							required: true,
						 
						},
						set_enclosure_into_alert_content: {
							required: true
						},
						set_enclosure_out_alert: {
							required: true,
					 
						},
						set_enclosure_out_alert_content: {
							required: true,
							 
						}
						 
					},
			
					 
			
					highlight: function (e) {
						$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
					},
			
					success: function (e) {
						 
						$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
						$(e).remove();
						
					},
			
					 
			
					submitHandler: function (form) {
						
						if(enclosure1.points[0] == undefined || enclosure1.points[0] != enclosure1.points[enclosure1.points.length - 1]) {
							alert('您没有画图');
							return;
						}
						
						 var $form = $(form).serializeArray();
						 var rusultPoints = [];
						 
						 var points_length = enclosure1.points.length - 1;
						 for(var i = 0; i<points_length ; i++){
						 	var temporaryArr = [];
							temporaryArr[0] = mmConversion(enclosure1.points[i][0]);
							temporaryArr[1] = mmConversion(enclosure1.points[i][1]);
							rusultPoints.push(temporaryArr);
							temporaryArr = [];
						 }
						 $form.push({name:'fence_coordinates',value:rusultPoints});

						  
						 $('#start_draw').click();

						 console.log('$form',$form);
							 
						
					},
					invalidHandler: function (form) {
					}
				});
						
						
						
						
					});
                 	
                 </script>
                 
            <script>

	//iii	
	 $(function(){
	 		
		 
		
			/**
			 * 向服务器发送 Ajax 请求，查询相关数据, POST方式
			 * @param url       请求 url
			 * @param txData    请求 参数，具体参数含义，见对应接口说明                  
			 
			 数据格式
			 
			 url = '/lbs/get_history_location';  访问地址 
            txData = {
                "userId": ["1918E00103AA"],     // "userId": ["all"] for all users
                "datetimeFrom": "2017-09-17 11:17:35",          // 按照时间段查询
                "datetimeTo": "2017-09-23 11:17:35",
                "compress": false       // 是否压缩，压缩的含义是，服务器会根据特定策略返回部分路径坐标。 保留参数
            };
			 */
			
			function ajaxRequest(url, txData) { 
				//接受到的数据 
				var ajaxData;
				$.ajax({
					url: url,
					async: false,
					type: 'POST',
					data: {data: JSON.stringify(txData)}
				}).done(function(data) {
					console.log('接口调用成功');
					console.log('receive:', data);
					 
					ajaxData = data;
					
					
					 
				}).fail(function(jqXHR, textStatus, errorThrown) {
					console.log('接口调用失败');
					ajaxData = false;
					
				 
				});
				 return ajaxData;
				 
			}
			
			
			
			
			
			$('#electronic-fence-query-button').click(function(){
				
					var buttonText = $('#start_draw_span').text();	
					
					if(buttonText === '清空绘制'){
						$('#start_draw').click();
					}
					
					electronicFence();
			});
			
			function electronicFence(){
				var url,txData;
				
				var data; //后台传来的数据
				
				var temporaryArr; //临时数据
				
				var  temporaryArrLength; //临时数据长度
				
				var address = $('#electronic-fence-address').val();
				if(address == 0){
					alert('请选择查询地址');
					return;
				}
				
				
				
				url = '/lbs/get_electronic_rail_cfg';
				txData = {
					"floorNo": address	
				};
				
				data = ajaxRequest(url, txData);
				
				
				temporaryArr = data.data;
				
				
				
				var svg = $('#svg_path').svg('get');
					//svg.clear();	 
				svg.clear();
				/*console.log('temporaryArr[0].points:',temporaryArr[0].points);
				console.log('temporaryArr[0]:',temporaryArr[0]);*/
				
				temporaryArrLength = temporaryArr.length;
				for(var temporaryI = 0; temporaryI<temporaryArrLength; temporaryI++){
					var temporaryArrDatas = temporaryArr[temporaryI].points;
					var temporaryArrDatasLength = temporaryArrDatas.length;
					var temporatyPosition =[];
					
					for(var PositionI = 0; PositionI< temporaryArrDatasLength; PositionI++){
							var temporatyPositionFor = [];  //for里面的数组   临时用下 
							 temporatyPositionFor.push(unitConversion(temporaryArrDatas[PositionI].x));
							 temporatyPositionFor.push(unitConversion(temporaryArrDatas[PositionI].y));
							 
							 
							 
							 temporatyPosition.push(temporatyPositionFor);
							 temporatyPositionFor = null;
							 
							 if(PositionI == temporaryArrDatasLength-1){
								 //让线回到第一个	
								 temporatyPositionFor = []
								 temporatyPositionFor.push(unitConversion(temporaryArrDatas[0].x));
								 temporatyPositionFor.push(unitConversion(temporaryArrDatas[0].y));
								 temporatyPosition.push(temporatyPositionFor);
							 }
							 
					}
					
 
					 
					
					svg.polyline(temporatyPosition,{
						fill: 'none',
						stroke: '#ff0000',
						strokeWidth: 5
					});
				 	//完毕清空数据
					temporaryArrDatas = null;
					temporaryArrDatasLength = null;
					temporatyPosition =null;
					
				}
				
				
				
				
				
				
					
			}
	
			
			

			
			
 
		var electronic_fence_namespace = '/HeZhong';
        var electronic_fence_socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + electronic_fence_namespace);

        electronic_fence_socket.on('hz_electronic_tail', function(msg) {
            console.log('电子围栏：', msg);
			var electronic_fence_socket_state;
			
			if(msg[0].status == 1){
				electronic_fence_socket_state = '进入';
			}else if(msg[0].status == 0){
				electronic_fence_socket_state = '离开';
			}
			alert('用户ID:'+msg[0].userId+electronic_fence_socket_state+'了房间'+msg[0].name);
			
			gritter_alert('电子围栏警报','用户ID:'+msg[0].userId+electronic_fence_socket_state+'了房间'+msg[0].name);
			
							
			console.log('$.gritter',$.gritter);
					 
				
			
			
			
			
        });
			

			
				function gritter_alert(title,text){
					$.gritter.add({
						title: title,
						text: text,

						class_name: 'gritter-warning' 
					});
			
					return false;

				};

			
			
			
			
			
			//单位转换
			function unitConversion(number){
				return Math.round(number * real_loc_to_pix * zoom);
			}
			
			
			
	
			
			
			//以下为时间日历插件
			
				 
			
		 	     
 	 			 $('.date-timepicker').datetimepicker({
				 //ormat: 'MM/DD/YYYY h:mm:ss A',//use this option to display seconds
					  language: 'zh-CN',
					 format: 'yyyy-mm-dd hh:ii:ss',
					 autoclose: true,
					 
				});
				
				
 
		 

			
			
	 })


</script>

            <div id="svg_map_base"  class="each_map_layer"> 
              <!--基础svg图--> 
              <img src="../static/img/floor3.svg"    id="svg_image" class="each_map_layer"> 
              <!--绘制路径-->
              <div id="svg_path" class="each_map_layer"></div>
              <!--房间等信息标识-->
              <div id="svg_sign"  class="each_map_layer"></div>
              <!--用户标识区域-->
              <div id="svg_user_sign" class="each_map_layer"> 
                <!--<img src="/static/img/people.png" style="position:absolute" id="1918E00103AA" title="1918E00103AA"> 
                      <img src="/static/img/people.png" style="position:absolute" id="1918E00103A9" title="1918E00103A9"> 
                      <img src="/static/img/dest.png" style="position:absolute" id="destination" title="终点">--> 
                
              </div>
              
               <div id="enclosureEvent" class="each_map_layer" style="display:none;" > <img src="../static/img/drawing.png" id="line_start" title="围栏绘制起点"    style="position:absolute; display:none;"></div>

              
              <div id="svg_event" class="each_map_layer"> 
                 
              </div>
              
              
            </div>
          </div>
          <style type="text/css" >
			
				.enclosure_spot{
			
					position:absolute;
					background:url(../static/img/spot.png) no-repeat;
					width:20px;
					height:20px;
					cursor: pointer;
					z-index:10;
				}
            	
				#myCanvas{  
					position: relative;
					overflow: hidden;
					border: 1px solid #b94a48;
					min-width:1702px;
					min-height:892px;
					z-index:1;
					background:url(../static/img/cross.gif);
				}
				/*所有事件在floor3父类上面   下面的子元素层级应该全部小于父元素层级*/
				#svg_map_base {
				 
				 	position:absolute;
 
 					z-index:2;
					
				}
				#svg_image{
					 
					z-index:-100;
					
				}
				#svg_path{
				 
 					z-index:-90;
					 
				}
				#svg_sign{
				 	z-index:-80;
				 
				}
				#svg_user_sign{
					z-index:-10;
					}
					
				#svg_event{
					z-index:1;
				}
				#enclosureEvent{
					z-index:2;
				}
				
				/*图基本设置*/
				.map_base_data{height:890px;width: 1700px;}
				.each_map_layer{ position:absolute; height:890px; width:1700px;}
				 
            </style>
        </div>
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content --> 
  
  <!--<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>--> 
</div>
<!-- /.main-container --> 

<!-- basic scripts --> 

<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script> 
<script src="../static/ace/components/bootstrap/dist/js/bootstrap.js"></script> 

<!--时间控制插件--> 

<script src="../static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script> 
<script src="../static/components/jquery.gritter/js/jquery.gritter.js"></script>

<!-- ace scripts --> 

<script src="../static/ace/assets/js/src/elements.scroller.js"></script> 
<script src="../static/ace/assets/js/src/elements.colorpicker.js"></script> 
<script src="../static/ace/assets/js/src/elements.fileinput.js"></script> 
<script src="../static/ace/assets/js/src/elements.typeahead.js"></script> 
<script src="../static/ace/assets/js/src/elements.wysiwyg.js"></script> 
<script src="../static/ace/assets/js/src/elements.spinner.js"></script> 
<script src="../static/ace/assets/js/src/elements.treeview.js"></script> 
<script src="../static/ace/assets/js/src/elements.wizard.js"></script> 
<script src="../static/ace/assets/js/src/elements.aside.js"></script> 
<script src="../static/ace/assets/js/src/ace.js"></script> 
<script src="../static/ace/assets/js/src/ace.basics.js"></script> 
<script src="../static/ace/assets/js/src/ace.scrolltop.js"></script> 
<script src="../static/ace/assets/js/src/ace.ajax-content.js"></script> 
<script src="../static/ace/assets/js/src/ace.touch-drag.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar-scroll-1.js"></script> 
<script src="../static/ace/assets/js/src/ace.submenu-hover.js"></script> 
<script src="../static/ace/assets/js/src/ace.widget-box.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings-rtl.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings-skin.js"></script> 
<script src="../static/ace/assets/js/src/ace.widget-on-reload.js"></script> 
<script src="../static/ace/assets/js/src/ace.searchbox-autocomplete.js"></script> 
<!-- inline scripts related to this page --> 

<!--page scripts --> 
<script src="../static/ace/components/jquery-validation/dist/jquery.validate.js"></script> 
<script>
 
	
		
		 
</script>
</body>
</html>
