<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>和仲位置服务平台</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<link rel="stylesheet" href="/static/ace/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/ace/components/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="/static/ace/assets/css/ace-fonts.css" />

	<link rel="stylesheet" href="/static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" href="/static/ace/assets/css/ace-skins.css" />
	<link rel="stylesheet" href="/static/ace/assets/css/ace-rtl.css" />

	<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">
	<link rel="stylesheet" href="/static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>

	<script src="/static/ace/assets/js/ace-extra.js"></script>
	<script src="/static/js/jquery.min.js"></script>

	<script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script>
	<script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script>
	<script src="/static/js/jquery.mousewheel.js"></script>

	<script src="/static/js/hzlbs/hzlbs.tools.js"></script>
	<script src="/static/js/hzlbs/hzlbs.maps.js"></script>
	<link rel="stylesheet" href="/static/css/hzmap.css" />
	<script src="/static/js/hztx/common_nav.js"></script>

	<link rel="shortcut icon" href="/static/img/favicon.ico" />
	<link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />

</head>

<body class="no-skin"  style=" min-width:1200px;">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default ace-save-state" style=" min-width:190px;">
	<div class="navbar-container ace-save-state" id="navbar-container">
		<!-- #section:basics/sidebar.mobile.toggle -->
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

		<!-- /section:basics/sidebar.mobile.toggle -->
		<div class="navbar-header pull-left">
			<!-- #section:basics/navbar.layout.brand -->
			<a href="http://www.hezhongsz.com" class="navbar-brand" style="padding-top:0; padding-bottom:0;" target="_blank"> <img src="/static/img/logo.jpg" /> </a>
			<!-- /section:basics/navbar.layout.brand -->

			<!-- #section:basics/navbar.toggle -->
			<!-- /section:basics/navbar.toggle -->
		</div>

		<!-- #section:basics/navbar.dropdown -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">

				<!-- #section:basics/navbar.user_menu -->
				<li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="/static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
						<li> <a href="#"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
						<li class="divider"></li>
						<li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
					</ul>
				</li>

				<!-- /section:basics/navbar.user_menu -->
			</ul>
		</div>

		<!-- /section:basics/navbar.dropdown -->
	</div>
	<!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container">
	<script type="text/javascript">
		try{ace.settings.loadState('main-container')}catch(e){}
	</script>

	<!-- #section:basics/sidebar -->
	<div id="sidebar" class="sidebar responsive ace-save-state">
		<script type="text/javascript">
			try{ace.settings.loadState('sidebar')}catch(e){}
		</script>
		<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
				<button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
				<button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>

				<button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
				<button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
			</div>

			<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
				<span class="btn btn-success"></span>
				<span class="btn btn-info"></span>
				<span class="btn btn-warning"></span>
				<span class="btn btn-danger"></span>
			</div>
		</div>
		<!-- /.sidebar-shortcuts -->

		<ul class="nav nav-list" id="hz_nav"></ul>


		<!-- #section:basics/sidebar.layout.minimize -->
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
		<!-- /section:basics/sidebar.layout.minimize -->
	</div>

	<!-- /section:basics/sidebar -->
	<div class="main-content">
		<div class="main-content-inner">
			<div class="page-content">

				<div class="page-header">
					<h1>历史轨迹</h1>
				</div>

				<div class="row">
					<div class="col-xs-12" >

						<div class="col-xs-2">
							<div class="col-xs-4">
								<label for="userId" class="control-label no-padding-right pull-right">用户:</label>
							</div>
							<div class="col-sm-8">
								<select id="userId" >
									<option value="0">请选择用户</option>
									<option value="1918E00103AA">1918E00103AA</option>
									<option value="1918E00103A9">1918E00103A9</option>
								</select>
							</div>
						</div>


						<div class="col-sm-1">
							<label class="control-label no-padding-right pull-right">时间:</label>
						</div>
						<div class="col-xs-4">
							<span class="input-icon">
								<input type="text" id="startTime" class="date-timepicker"  placeholder="查询起始时间" style="width:178px;"/>
							</span>

							<span class="input-icon input-icon-right">
								<input type="text" id="endTime" class="date-timepicker" placeholder="查询截止时间" style="width:178px;"/>
							</span>
						</div>
						<div class="col-xs-1">
							<button class="btn btn-info btn-sm" id="btnQueryHisLoc">查询</button>
						</div>
						<div class="col-xs-1">
							<button class="btn btn-info btn-sm" id="btnClearHisLoc">清除</button>
						</div>

					</div> <!-- /.col -->
				</div> <!-- /.row -->

				<div class="hr hr-10"></div>
				<div id="myCanvas">
					<div id="svg_map_base" class="each_map_layer">  					<!--基础svg图-->
						<img src="/static/img/floor3.svg" id="svg_image" class="each_map_layer">
						<div id="svg_path" class="each_map_layer"></div>				<!--导航路径-->
						<div id="svg-electronic-rail" class="each_map_layer"></div>		<!--电子围栏-->
						<div id="svg-electronic-rail-draft" class="each_map_layer"></div>

						<div id="svg-people-stat-zone" class="each_map_layer"></div>	<!-- 人员盘点区域 -->
						<div id="svg-people-stat-zone-draft" class="each_map_layer"></div>

						<div id="svg_path_history" class="each_map_layer"></div>		<!-- 历史轨迹 -->

						<div id="svg_sign" class="each_map_layer"></div>				<!--房间等信息标识-->

						<!--用户标识区域-->
						<div id="svg_user_sign" class="each_map_layer"> <img src="/static/img/people.png" style="position:absolute; display: none" id="1918E00103AA" title="1918E00103AA"> <img src="/static/img/people.png" style="position:absolute;display: none" id="1918E00103A9" title="1918E00103A9"> </div>
						<div id="svg_temporary_line" class="each_map_layer"></div>
						<div id="enclosureEvent" class="each_map_layer" style="display:none;"> <img src="/static/img/drawing.png" id="line_start" title="围栏绘制起点" style="position:absolute; display:none;"> </div>
						<div id="svg_event" class="each_map_layer"></div>
					</div>
				</div>

				<!--页脚-->
				<div class="footer">
					<div class="footer-inner " >
						<div class="footer-content "> <span class="bigger-120"> 衡阳市和仲通讯科技有限公司 &copy; 2016-2018 </span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span> </div>
					</div>
				</div>

			</div>		<!-- /.page-content -->
		</div>
	</div>		<!-- /.main-content -->

</div>		<!-- /.main-container -->


<script>
	'use strict';
	var hzX = 0, hzY = 0;   // 坐标系原点
	var margin = 0;        //外边距
	var real_loc_to_pix = 0.0891;      //物理单位转像素单位 比例      比例转换计算公式x为传来的数据   x * real_loc_to_pix * zoom
	var map_w = 3477;       /// px
	var map_h = 1769;
	var zoom = 0.486;          /// 地图缩放级别
	var hz_is_navigating = false;      /// 是否曾经设置过导航，或正在导航中
	var HZ_DESTINATION_MEETING_ROOM = 27;     //办公室编号
	var hz_destination = HZ_DESTINATION_MEETING_ROOM;            /// 导航的目的地，默认 第一个 目的地
	var hz_user_id = 0;   //下面的索引   实际函数用0应该是未选择
	var HZ_USER_IDS = ['1918E00103AA', '1918E00103A9'];
	var hz_user_xy = [];   //用户数据  每项为一个用户
	var storage = window.localStorage;

	if(storage){
		//storage.clear();
		///alert("浏览支持localStorage");
		var _userId = storage['hz_user_id'];
		if(typeof _userId !== 'undefined') {
			hz_user_id = _userId;
		}
		var hz_zoom = storage['hz_zoom'];
		if(typeof hz_zoom !== 'undefined') {    /// 存在值
			zoom = hz_zoom;
		}

		///alert(storage['hz_is_navigating'] + "  " + Boolean(storage['hz_is_navigating']));
		hz_is_navigating = Boolean(storage['hz_is_navigating']);
	}else{
		///alert("浏览暂不支持localStorage");
	}

	var $svg_map_base = $('#svg_map_base');
	var $svg_event = $('#svg_event');
	var $document = $(document);
	var hzCanvas = $('#myCanvas');
	var	zoomCallBack = [];
	var hisLocData = undefined;

	$(function(){

		mapZoom(map_h * zoom, map_w * zoom);

		// 移动地图到 画布 的中央
		hzX = (hzCanvas.width() - $svg_map_base.width()) / 2;
		hzY = (hzCanvas.height() - $svg_map_base.height()) / 2;
		$svg_map_base.css({
			left: hzX + 'px',
			top: hzY + 'px'
		});

		var socket = io.connect(hz_connStr);
		socket.on('hz_position', function(msg) {
			console.log(msg);
			for (var i=0; i<msg.length; i++){
				hz_user_xy[i] = [msg[i]['userId'], msg[i]['x'], msg[i]['y']];
				hzPeopleGoto(hz_user_xy[i][1] * real_loc_to_pix * zoom - margin,
						hz_user_xy[i][2] * real_loc_to_pix * zoom - margin, hz_user_xy[i][0]);
			}
		});

		if(hz_user_id != 0) {    /// 设置选择用户（标签）图片
			$('#'+ HZ_USER_IDS[hz_user_id-1]).attr('src', '/static/img/peoplesel.png');
		}

		// 鼠标滚轮缩放svg图
		$svg_event.ready(function () {
			//获取svg图对象
			var mapSign = $svg_map_base;

			// 移动地图到 画布 的中央
			hzX = (hzCanvas.width() - $svg_map_base.width()) / 2;
			hzY = (hzCanvas.height() - $svg_map_base.height()) / 2;
			$svg_map_base.css({
				left: hzX + 'px',
				top: hzY + 'px'
			});

			//设置缩放速度   比例缩放
			var zoomSpeed = 0.05;

			// using the event helper
			$svg_event.on('mousewheel', addMousewheelEvent);

			function addMousewheelEvent(event, delta) {	// , deltaX, deltaY
				//svg图的最小 最大  X和Y
				var mapMinX, mapMaxX, mapMinY, mapMaxY;
				var mapOffset = mapSign.offset();
				var mapOuterWidth = mapSign.outerWidth();
				var mapOuterHeight = mapSign.outerHeight();

				mapMinX = mapOffset.left;
				mapMaxX = mapOffset.left + mapOuterWidth;
				mapMinY = mapOffset.top;
				mapMaxY = mapOffset.top + mapOuterHeight;

				if(event.pageX > mapMinX && event.pageX < mapMaxX && event.pageY > mapMinY && event.pageY < mapMaxY) {
					// 取消默认事件
					event.preventDefault();

					// 计算速度
					var mapHeight, mapWidth, mapTopBorder, mapLeftBorder, mapTop, mapLeft, speedTop, speedLeft;
					mapHeight = mapSign.height();
					mapWidth = mapSign.width();

					mapTopBorder = parseInt(mapSign.css('border-top-width'));
					mapLeftBorder = parseInt(mapSign.css('border-left-width'));

					mapTop = parseInt(mapSign.css('top'));
					mapLeft = parseInt(mapSign.css('left'));


					// 计算缩放速度  单独的top  或  left

					if(delta == 1) {
						speedTop = parseInt(zoomSpeed * mapHeight);
						console.log('speedTop', speedTop);
						speedLeft = parseInt(zoomSpeed * mapWidth);
					} else {
						speedTop = -parseInt(zoomSpeed * mapHeight);
						speedLeft = -parseInt(zoomSpeed * mapWidth);
					}


					// 更改后的高
					var resultHeight = mapHeight + (speedTop * 2);
					var resultWidth = mapWidth + (speedLeft * 2);


					// 鼠标在图内距离
					var currentMouseTop = event.pageY - mapMinY - mapTopBorder;
					var currentMouseLeft = event.pageX - mapMinX - mapLeftBorder;
					// 缩放后再图内的距离
					var mouseTop = Math.round(currentMouseTop - (currentMouseTop / mapHeight * resultHeight));
					var mouseLeft = Math.round(currentMouseLeft - (currentMouseLeft / mapWidth * resultWidth));

					// 计算svg偏离位置
					hzY = mapTop + mouseTop;
					hzX = mapLeft + mouseLeft;

					// 保存缩放比例
					zoom = resultWidth / map_w;
					storage['hz_zoom'] = zoom;

					console.log('margin', margin, 'resultHeight', resultHeight, 'resultWidth', resultWidth);
					mapZoom(resultHeight, resultWidth);

					$svg_map_base.css({
						left: hzX + 'px',
						top: hzY + 'px'
					});

					people_move_zoom();

					for(var j = 0; j < zoomCallBack.length; j++) {
						zoomCallBack[j]();
					}
				}
			}
		});


		// 地图移动变量
		var mapMoveMousedownX, mapMoveMousedownY;
		var currentX, currentY;

		function addMapMoveEvent() {
			$svg_event.on('mousedown', mapMoveMousedownFn);
		}
		// 事件函数
		function mapMoveMousedownFn(e) {
			mapMoveMousedownX = e.pageX;
			mapMoveMousedownY = e.pageY;

			currentX = parseInt(hzX);
			currentY = parseInt(hzY);

			$document.on('mousemove', mapMoveMousemoveFn);
			$document.on('mouseup', mapMoveMouseupFn);
			$svg_event.css('cursor', 'move');
			return false;
		}

		function mapMoveMousemoveFn(e) {
			currentX = e.pageX - mapMoveMousedownX + parseInt(hzX);
			currentY = e.pageY - mapMoveMousedownY + parseInt(hzY);

			$svg_map_base.css({
				left: currentX + 'px',
				top: currentY + 'px'
			});
		}

		function mapMoveMouseupFn() {
			hzX = currentX;
			hzY = currentY;
			$document.off('mousemove', mapMoveMousemoveFn);
			$document.off('mouseup', mapMoveMouseupFn);
			$svg_event.css('cursor', 'default');
		}
		addMapMoveEvent();

		// 以下为时间日历插件
		$('.date-timepicker').datetimepicker({
			language: 'zh-CN',
			format: 'yyyy-mm-dd hh:ii:ss',
			autoclose: true
		});

	});


	// 缩放要调用的函数
	function people_move_zoom() {
		var hz_user_xy_length = hz_user_xy.length;
		for(var i = 0; i < hz_user_xy_length; i++) {
			hzPeopleGoto(hz_user_xy[i][1] * real_loc_to_pix * zoom - margin,
					hz_user_xy[i][2] * real_loc_to_pix * zoom - margin, hz_user_xy[i][0]);
		}
	}

	// 清除历史轨迹
	$('#btnClearHisLoc').click(function () {
		hisLocData = undefined;

		var hisLayer = $('#svg_path_history');
		hisLayer.svg();
		var svg = hisLayer.svg('get');
		svg.clear();
	});


	// 历史轨迹查询按钮绑定
	$('#btnQueryHisLoc').click(function(){
		getHisLocation();
	});

	// 历史轨迹查询函数
	function getHisLocation(){

		// 获得数据并校验是否合法
		var userName = $('#userId').val();
		if(userName == 0){
			alert('请选择查询用户');
			return;
		}

		var startTime = $('#startTime').val();
		if(startTime == ''){
			alert('请选择起始查询时间');
			return;
		}

		var endTime = $('#endTime').val();
		if(endTime == ''){
			alert('请选择截止查询时间');
			return;
		}

		/**
		 * 向服务器发送 Ajax 请求，查询相关数据, POST方式
		 * @param url       请求 url
		 * @param txData    请求 参数，具体参数含义，见对应接口说明
		 *
		 * 数据格式
		 * 	 url = '/lbs/get_history_location';  访问地址
		 * 	 txData = {
		 * 	 	"userId": ["1918E00103AA"],     				["all"] for all users
		 * 	 	"datetimeFrom": "2017-09-17 11:17:35",          按照时间段查询
		 * 	 	"datetimeTo": "2017-09-23 11:17:35",
		 * 	 	"compress": false        是否压缩，压缩的含义是，服务器会根据特定策略返回部分路径坐标。 保留参数
		 * 	 	};
		 */
		var url = '/lbs/get_history_location';
		var txData = {
			"userId": [userName],     // "userId": ["all"] for all users
			"datetimeFrom": startTime,          // 按照时间段查询
			"datetimeTo": endTime,
			"compress": false       // 是否压缩，压缩的含义是，服务器会根据特定策略返回部分路径坐标。 保留参数
		};

		$.ajax({
			url: url,
			async: true,
			type: 'POST',
			data: {data: JSON.stringify(txData)}
		}).done(function(data) {
			// console.log('接口调用成功');
			console.log('url & data:', url, data);

			if(data.errorCode == 0){
				hisLocData = data.data;
				var isDraw = drawHisLocation(data.data);
				if (!isDraw) {
					alert('该时间段没有数据!');
				}
			} else {
				alert('接口调用失败：' + data.msg);
			}

		}).fail(function() {
			console.log('接口调用失败, url=', url, 'data=', data);
			alert('连接错误');
		});
	}

	function draw_his_loc() {
		drawHisLocation(hisLocData);
	}

	zoomCallBack.push(draw_his_loc);

	// 画历史轨迹
	function drawHisLocation(data){
		if (!data) return false;

		var hisLayer = $('#svg_path_history');
		hisLayer.svg();
		var svg = hisLayer.svg('get');
		svg.clear();

		var isDraw;
		var points = [];
		var pt = [];

		for(var key in data) {
			if (!data.hasOwnProperty(key)) continue;
			for (var m=0; m< data[key].length; m++) {
				pt = [];
				pt.push(coordMapToScreen(data[key][m].x));
				pt.push(coordMapToScreen(data[key][m].y));
				points.push(pt)
			}

			// 曲线
			svg.polyline(points,{
				fill: 'none',
				stroke: 'blue',
				strokeWidth: 1
			});
			svg.text(points[0][0],points[0][1],'起',{fontSize: 16, fontFamily: 'Verdana',fill:'red'});
			svg.text(points[data[key].length-1][0],points[data[key].length-1][1],'终',{fontSize: 16, fontFamily: 'Verdana',fill:'red'});

			isDraw = true;
		}

		return isDraw;
	}

</script>


<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script src="/static/ace/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/ace/components/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/static/ace/assets/js/src/elements.scroller.js"></script> 
<script src="/static/ace/assets/js/src/elements.colorpicker.js"></script> 
<script src="/static/ace/assets/js/src/elements.fileinput.js"></script> 
<script src="/static/ace/assets/js/src/elements.typeahead.js"></script> 
<script src="/static/ace/assets/js/src/elements.wysiwyg.js"></script> 
<script src="/static/ace/assets/js/src/elements.spinner.js"></script> 
<script src="/static/ace/assets/js/src/elements.treeview.js"></script> 
<script src="/static/ace/assets/js/src/elements.wizard.js"></script> 
<script src="/static/ace/assets/js/src/elements.aside.js"></script> 
<script src="/static/ace/assets/js/src/ace.js"></script> 
<script src="/static/ace/assets/js/src/ace.basics.js"></script> 
<script src="/static/ace/assets/js/src/ace.scrolltop.js"></script> 
<script src="/static/ace/assets/js/src/ace.ajax-content.js"></script> 
<script src="/static/ace/assets/js/src/ace.touch-drag.js"></script> 
<script src="/static/ace/assets/js/src/ace.sidebar.js"></script> 
<script src="/static/ace/assets/js/src/ace.sidebar-scroll-1.js"></script> 
<script src="/static/ace/assets/js/src/ace.submenu-hover.js"></script> 
<script src="/static/ace/assets/js/src/ace.widget-box.js"></script> 
<script src="/static/ace/assets/js/src/ace.settings.js"></script> 
<script src="/static/ace/assets/js/src/ace.settings-rtl.js"></script> 
<script src="/static/ace/assets/js/src/ace.settings-skin.js"></script> 
<script src="/static/ace/assets/js/src/ace.widget-on-reload.js"></script> 
<script src="/static/ace/assets/js/src/ace.searchbox-autocomplete.js"></script> 

</body>
</html>
