<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>和仲位置服务平台</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../static/ace/assets/css/bootstrap.css" />
<link rel="stylesheet" href="../static/ace/components/font-awesome/css/font-awesome.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->
<link rel="stylesheet" href="../static/ace/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="../static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-skins.css" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-rtl.css" />

<!-- svg样式 -->
<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">

<!-- inline styles related to this page -->
<!--时间插件-->

<link rel="stylesheet" href="../static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>

<!-- ace settings handler -->
<script src="../static/ace/assets/js/ace-extra.js"></script>
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body class="no-skin"  style=" min-width:1905px;">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state" style=" min-width:190px;">
  <div class="navbar-container ace-save-state" id="navbar-container"> 
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    
    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left"> 
      <!-- #section:basics/navbar.layout.brand --> 
      <a href="#" class="navbar-brand" style="padding-top:0; padding-bottom:0;"> <img src="../static/img/logo.jpg" /> </a> 
      
      <!-- /section:basics/navbar.layout.brand --> 
      
      <!-- #section:basics/navbar.toggle --> 
      
      <!-- /section:basics/navbar.toggle --> 
    </div>
    
    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        
        <!-- #section:basics/navbar.user_menu -->
        <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="../static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
          <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
            <li> <a href="profile.html"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
            <li class="divider"></li>
            <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
          </ul>
        </li>
        
        <!-- /section:basics/navbar.user_menu -->
      </ul>
    </div>
    
    <!-- /section:basics/navbar.dropdown --> 
  </div>
  <!-- /.navbar-container --> 
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script> 
  
  <!-- #section:basics/sidebar -->
  <div id="sidebar" class="sidebar                  responsive                    ace-save-state"> 
    <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
        <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>
        
        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
        <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
        
        <!-- /section:basics/sidebar.layout.shortcuts --> 
      </div>
      
      <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>--> 
    </div>
    <!-- /.sidebar-shortcuts -->
    
    <ul class="nav nav-list">
      
    
    <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon  fa fa-home"></i>
							<span class="menu-text">
								我的建筑
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							

							<li class="">
								<a href="/token">
									<i class="menu-icon fa fa-caret-right"></i>
									地图导航
								</a>

								<b class="arrow"></b>
							</li>
							
                            <li class="">
								<a href="/hz_page2">
									<i class="menu-icon fa fa-caret-right"></i>
									坐标拾取
								</a>

								<b class="arrow"></b>
							</li>
                            
							<li class="active">
								<a href="/hz_history_loc">
									<i class="menu-icon fa fa-caret-right"></i>
									历史轨迹
								</a>

								<b class="arrow"></b>
							</li>
                            
                            
                            
                        <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-caret-right"></i>
							<span class="menu-text"> 电子围栏 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="/hz_electronic_rail">
									<i class="menu-icon fa fa-caret-right"></i>
									实时信息
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="/hz_page1">
									<i class="menu-icon fa fa-caret-right"></i>
									历史警报
								</a>

								<b class="arrow"></b>
							</li>

							

							

							
						</ul>
					</li>
                            

							

							

							
						</ul>
					</li>
    
    
    
    
    </ul>
    <!-- /.nav-list --> 
    
    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
    
    <!-- /section:basics/sidebar.layout.minimize --> 
  </div>
  
  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner"> 
      <!-- #section:basics/content.breadcrumbs --> 
      
      <!-- /section:basics/content.breadcrumbs -->
      <div class="page-content">
        <div class="page-header">
          <h1>
          地图导航
          <h1>
        </div>
        
        <!-- /section:settings.box -->
        <div class="row">
          <div class="col-sm-12" >
          <!-- PAGE CONTENT BEGINS -->
          
          <style>
        #myCanvas{width: 1690px; height: 860px; position:relative;}
        #floor3 {
			width: 1700px; height: 860px;
            position: absolute;
            overflow: hidden;
            border: 1px solid #b94a48;
			top:0px; left:10px;
			}
        #svg_map{
            width: 1700px;
            height: 860px;
            position:absolute;
            overflow:hidden;
        }
        #svg_path{
            width: 1700px;
            height: 860px;
            position:absolute;
			z-index:10;
        }
 
    </style>
          <script src="/static/js/jquery.min.js"></script> 
          <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script> 
          <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script>
          <script src="../static/js/jquery.mousewheel.js"></script> 
          <script src="../static/js/hztx/common_map_js.js"></script>   
		 <script>
          	//iii
			//鼠标滚轮缩放svg图
			$(function(){
				 
				 //localStorage.clear();
				
				 
				$('#svg_map').ready(
					function(){
						
						//获取svg图对象
						var mapSign = $('#map');
						//设置缩放速度   比例缩放
						var zoomSpeed = 0.05;
						
		 
						// using the event helper
						$('#svg_map').mousewheel(function(event, delta, deltaX, deltaY) {
						
						 		//svg图的最小 最大  X和Y
								var mapMinX,mapMaxX,mapMinY,mapMaxY;
								
								var mapOffset = mapSign.offset();
								
								var mapOuterWidth = mapSign.outerWidth();
								var mapOuterHeight = mapSign.outerHeight();
								
								mapMinX = mapOffset.left;
								mapMaxX = mapOffset.left + mapOuterWidth;
								mapMinY = mapOffset.top;
								mapMaxY = mapOffset.top + mapOuterHeight;
								
								
								
								
							
							
							if(event.pageX > mapMinX && event.pageX < mapMaxX && event.pageY > mapMinY && event.pageY <  mapMaxY){

								
								  /*取消默认事件*/
								  event.preventDefault()
								  /*计算速度*/
 						 			
								  
								  var mapHeight, mapWidth, mapTopBorder , mapLeftBorder ,mapTop, mapLeft , speedTop ,speedLeft;
								  /*#map 的基本参数*/
								  mapHeight = mapSign.height();
								  mapWidth = mapSign.width();
								  
								  mapTopBorder = parseInt(mapSign.css('border-top-width'));
								  mapLeftBorder = parseInt(mapSign.css('border-left-width'));
								  
								  mapTop = parseInt(mapSign.css('top'));
								  mapLeft = parseInt(mapSign.css('left'));
								  
								  
								  
								  /*计算缩放速度  单独的top  或  left*/
								  
								  if(delta == 1){
								  	  speedTop =  parseInt(zoomSpeed * mapHeight);
									  console.log ('speedTop',speedTop); 
									  speedLeft =  parseInt(zoomSpeed * mapWidth);
								  }else{
								  	  speedTop =  -parseInt(zoomSpeed * mapHeight);
									  speedLeft = -parseInt(zoomSpeed * mapWidth);
								  }
								  
								 
								/*更改后的高*/
								var resultHeight = mapHeight + (speedTop * 2); 
								var resultWidth = mapWidth + (speedLeft * 2);
								
								
								/*鼠标在图内距离*/
								var currentMouseTop = event.pageY - mapMinY - mapTopBorder;
								var currentMouseLeft = event.pageX - mapMinX - mapLeftBorder;
								/*缩放后再图内的距离*/
								var mouseTop = Math.round(currentMouseTop - (currentMouseTop / mapHeight * resultHeight));
								var mouseLeft = Math.round(currentMouseLeft - (currentMouseLeft / mapWidth * resultWidth));
								 
								 
		
 
 								/*计算svg偏离距离*/
								/*svg图的left*/
 
									
										
								hzY = mapTop + mouseTop  ;
					 			hzX =  mapLeft + mouseLeft ;
									
					 				
								/*保存缩放比例*/
							 	zoom = resultWidth / map_w;
								storage['hz_zoom'] = zoom;
									
									
									
 
        						  hz_map_zoom(margin, margin, resultHeight , resultWidth);
 		  						  hz_change_item_in_map();
								  
								 /*计算图片相对父元素位置*/
 								  
							}
  							 
						});
 
					}
				);	
			})
			
          </script>
          <script>

	//iii	
	 $(function(){
	 		
		 
		
			/**
			 * 向服务器发送 Ajax 请求，查询相关数据, POST方式
			 * @param url       请求 url
			 * @param txData    请求 参数，具体参数含义，见对应接口说明                  
			 
			 数据格式
			 
			 url = '/lbs/get_history_location';  访问地址 
            txData = {
                "userId": ["1918E00103AA"],     // "userId": ["all"] for all users
                "datetimeFrom": "2017-09-17 11:17:35",          // 按照时间段查询
                "datetimeTo": "2017-09-23 11:17:35",
                "compress": false       // 是否压缩，压缩的含义是，服务器会根据特定策略返回部分路径坐标。 保留参数
            };
			 */
			
			function ajaxRequest(url, txData) { 
				//接受到的数据 
				var ajaxData;
				$.ajax({
					url: url,
					async: false,
					type: 'POST',
					data: {data: JSON.stringify(txData)}
				}).done(function(data) {
					console.log('接口调用成功');
					console.log('receive:', data);
					 
					ajaxData = data;
					
					
					 
				}).fail(function(jqXHR, textStatus, errorThrown) {
					console.log('接口调用失败');
					ajaxData = false;
					
				 
				});
				 return ajaxData;
				 
			}
			
			//历史轨迹查询按钮绑定
			
			$('#historical-trajectory-query-button').click(function(){
				
				historicalTrajectory();
			});
			
			
			//历史轨迹查询函数

			function historicalTrajectory(){
				
				//查询需要的参数
				var userName,startTime,endTime;
				//数据发送地址
				var url;
				var data;  //后台传过来的数据
 				//获得数据并测试是否合法 
				userName = $('#historical-trajectory-user-name').val();
				
		 
				
				if(userName == 0){
					alert('请选择查询用户');
					return;
				}
				
			 
				startTime = $('#historical-trajectory-start-time').val();
			 
				if(startTime == ''){
					alert('请选择起始查询时间');
					return;
				}
			 
				endTime = $('#historical-trajectory-end-time').val();
				
				if(endTime == ''){
					alert('请选择截止查询时间');
					return;
				}				
			 
				
				url = '/lbs/get_history_location';
				
				var txData = {
					"userId": [userName],     // "userId": ["all"] for all users
					"datetimeFrom": startTime,          // 按照时间段查询
					"datetimeTo": endTime,
					"compress": false       // 是否压缩，压缩的含义是，服务器会根据特定策略返回部分路径坐标。 保留参数
				};	
				
				
				data = ajaxRequest(url, txData);
				
				if(data == false){
					alert('连接错误');
					return;
				}
	
 
			 	
				//后台传来的数据有问题    对象键  不能数字开头 
				
				//临时数据 

	        	var temporaryData = data.data[userName];
				console.log(temporaryData);
		
				
				console.log('xinew:',temporaryData);
				//没有数据的情况
				if(temporaryData == undefined){
					alert('该时间段没有数据');
					return;		
				} 
 
		 
				//曲线位置存储
				var points = [];
				/*曲线样式数据*/
 

				var temporaryDataLength = temporaryData.length;
				
				

		 	    for(var temporaryI = 0 ; temporaryI<temporaryDataLength;temporaryI++){
				     var temporaryDataFirst = temporaryData[temporaryI];
					 
					 var temporaryArr = [];
					 var temporaryArrX,temporaryArrY;
					 
					 temporaryArrX = unitConversion(temporaryDataFirst.x);
					 temporaryArrY = unitConversion(temporaryDataFirst.y);
					 
					 
					 temporaryArr.push(temporaryArrX);
					 temporaryArr.push(temporaryArrY);
					 
					 points.push(temporaryArr);
					 
					 temporaryArr = null;
					 temporaryArrX = null;
					 temporaryArrY = null;
					  
				}
				
			
					var svg = $('#svg_path').svg('get');
					//svg.clear();
					 
					svg.clear();
 					$('#svg_path').css({top:hzY,left:hzX});
					 //曲线
					svg.polyline(points,{
						fill: 'none',
						stroke: 'blue',
						strokeWidth: 1
					});
				 	svg.text(points[0][0],points[0][1],'起',{fontSize: 16, fontFamily: 'Verdana',fill:'red'})
					svg.text(points[temporaryDataLength-1][0],points[temporaryDataLength-1][1],'终',{fontSize: 16, fontFamily: 'Verdana',fill:'red'})
				
 
			 
			 	
			 
			 	
				//判断是否出现连接错误
				

			 	
					
			}
			
			
			//单位转换
			function unitConversion(number){
				return Math.round(number * real_loc_to_pix * zoom);
			}
			
			
			
	
			
			
			//以下为时间日历插件
			
				 
			
		 	     
 	 			 $('.date-timepicker').datetimepicker({
				 //ormat: 'MM/DD/YYYY h:mm:ss A',//use this option to display seconds
					  language: 'zh-CN',
					 format: 'yyyy-mm-dd hh:ii:ss',
					 autoclose: true,
					 
				});
				
				
 
		 

			
			
	 })


</script>
	<!--内容-->
	<div class='row'>
          <div class="row">
              
              
              
                  <div class="col-xs-2">
   
                  		<div class="col-xs-4">
                         <label class="control-label no-padding-right pull-right">历史轨迹:</label>
           				</div> 
                        <div class="col-sm-8">
                          <select id="historical-trajectory-user-name" >
                            <option value="0">请选择用户开启导航</option>
                            <option value="1918E00103AA">1918E00103AA</option>
                            <option value="1918E00103A9">1918E00103A9</option>
                          </select>
                    	</div>
        
                  </div>
                   
              
              
                 <div class="col-xs-5">
                  		<div class="col-xs-2">
                         <label class="control-label no-padding-right pull-right">查询时间:</label>
    					</div>	        
	                    
                        
                        <div class="col-xs-7">
                        
                            <span class="input-icon">
                                <input type="text" id="historical-trajectory-start-time" class="date-timepicker"  placeholder="查询起始时间" style="width:178px;"/>                            
                            </span>
    
                            <span class="input-icon input-icon-right">
                                <input type="text" id="historical-trajectory-end-time" class="date-timepicker" placeholder="查询截止时间" style="width:178px;"/>         
                            </span>

                	  	</div>
                        <div class="col-xs-2">
                            <button class="btn btn-info btn-sm" id="historical-trajectory-query-button">查询</button>
                        </div>
                  </div>
              	
              </div>
              <div class="hr hr-24"></div>  
          <div class="row">
          	<div id="myCanvas">
              <div id="floor3" style="background:url(/static/img/cross.gif) fixed"> <img src="/static/img/floor3.svg" width="1706" height="867.9" style="position:absolute" id="map" >
              <div id="svg_map">
                <div id="svg_path"></div>
                 
                <img src="/static/img/people.png" style="position:absolute" id="1918E00103AA" title="1918E00103AA"> <img src="/static/img/people.png" style="position:absolute" id="1918E00103A9" title="1918E00103A9"> <img src="/static/img/dest.png" style="position:absolute" id="destination" title="终点"> 
                </div>
            </div>
          </div>
   		  </div>	
    </div>
          <!--页脚-->
          
          <div class="footer">
            <div class="footer-inner " > 
              <!-- #section:basics/footer -->
              <div class="footer-content "  style=" min-width:1713px;" > <span class="bigger-120"> 衡阳市和仲通讯科技有限公司 &copy; 2016-2018 </span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span> </div>
              
              <!-- /section:basics/footer --> 
            </div>
          </div>
          
          <!-- PAGE CONTENT ENDS --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.page-content --> 
  </div>
</div>
<!-- /.main-content --> 

<!--<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>-->
</div>
<!-- /.main-container --> 

<!-- basic scripts --> 

<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script> 
<script src="../static/ace/components/bootstrap/dist/js/bootstrap.js"></script> 

<!--时间控制插件--> 

<script src="../static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script> 

<!-- ace scripts --> 
<script src="../static/ace/assets/js/src/elements.scroller.js"></script> 
<script src="../static/ace/assets/js/src/elements.colorpicker.js"></script> 
<script src="../static/ace/assets/js/src/elements.fileinput.js"></script> 
<script src="../static/ace/assets/js/src/elements.typeahead.js"></script> 
<script src="../static/ace/assets/js/src/elements.wysiwyg.js"></script> 
<script src="../static/ace/assets/js/src/elements.spinner.js"></script> 
<script src="../static/ace/assets/js/src/elements.treeview.js"></script> 
<script src="../static/ace/assets/js/src/elements.wizard.js"></script> 
<script src="../static/ace/assets/js/src/elements.aside.js"></script> 
<script src="../static/ace/assets/js/src/ace.js"></script> 
<script src="../static/ace/assets/js/src/ace.basics.js"></script> 
<script src="../static/ace/assets/js/src/ace.scrolltop.js"></script> 
<script src="../static/ace/assets/js/src/ace.ajax-content.js"></script> 
<script src="../static/ace/assets/js/src/ace.touch-drag.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar-scroll-1.js"></script> 
<script src="../static/ace/assets/js/src/ace.submenu-hover.js"></script> 
<script src="../static/ace/assets/js/src/ace.widget-box.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings-rtl.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings-skin.js"></script> 
<script src="../static/ace/assets/js/src/ace.widget-on-reload.js"></script> 
<script src="../static/ace/assets/js/src/ace.searchbox-autocomplete.js"></script> 

<!-- inline scripts related to this page -->

</body>
</html>
