
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>和仲位置服务平台</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="/static/ace/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/ace/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-fonts.css" />

    <link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css" />
    <link rel="stylesheet" href="/static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/static/ace/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="/static/ace/components/_mod/jqgrid/ui.jqgrid.min.css" />
    <link rel="stylesheet" href="/static/ace/components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />

    <!-- 确保 ace.min.css 在 ui.jqgrid.min.css 之下。防止ace表格样式不生效 -->
    <link rel="stylesheet" href="/static/ace/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-skins.css" />
    <link rel="stylesheet" href="/static/ace/assets/css/ace-rtl.css" />

    <link rel="stylesheet" href="/static/css/hzmap.css" />

    <!-- 防止其他使用jquery的脚本不起作用，将jquery.min.js设置为第一个出现的js脚本 -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/ace/assets/js/ace-extra.js"></script>
    <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script>
    <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script>
    <script src="/static/js/jquery.mousewheel.js"></script>

    <script src="/static/js/hzlbs/hztools.js"></script>
    <script src="/static/js/hzlbs/hzmap.js"></script>
    <script src="/static/js/hzlbs/hznav.js"></script>
    <script src="/static/js/hzlbs/hzdialog.js"></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body class="no-skin"  style=" min-width:1200px;">

<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default ace-save-state" style="min-width:190px;">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <!-- /section:basics/sidebar.mobile.toggle -->

        <div class="navbar-header pull-left">
            <a href="http://www.hezhongsz.com" class="navbar-brand" style="padding-top:0; padding-bottom:0;" target="_blank"> <img src="/static/img/logo.jpg" /> </a>
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <!-- #section:basics/navbar.user_menu -->
                <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="/static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
                        <li> <a href="#"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
                        <li class="divider"></li>
                        <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
                    </ul>
                </li> <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div> <!-- /section:basics/navbar.dropdown -->
    </div> <!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
                <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>

                <!-- #section:basics/sidebar.layout.shortcuts -->
                <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
                <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
                <!-- /section:basics/sidebar.layout.shortcuts -->
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>
                <span class="btn btn-info"></span>
                <span class="btn btn-warning"></span>
                <span class="btn btn-danger"></span>
            </div>
        </div> <!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list" id="hz_nav"></ul>

        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
        <!-- /section:basics/sidebar.layout.minimize -->
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <!-- /section:basics/content.breadcrumbs -->

            <div class="page-content">
                <div class="page-header"><h1>ACE空白页</h1></div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <button class="navigation btn btn-success btn-sm" id="btnBeginNav">开始导航</button>
                        <button id="btnStopNav"  class="btn btn-danger btn-sm">结束导航</button>

                        <hr class="hr hr-4">

                        历史轨迹:
                        <select id="userId" title="用户">
                            <option value="0">请选择用户</option>
                            <option value="1918E00103AA">1918E00103AA</option>
                            <option value="1918E00103A9">1918E00103A9</option>
                        </select>
                        <span class="input-icon">
                            <input type="text" id="startTime" class="date-timepicker"  placeholder="查询起始时间" style="width:178px;"/>
                        </span>

                        <span class="input-icon input-icon-right">
                            <input type="text" id="endTime" class="date-timepicker" placeholder="查询截止时间" style="width:178px;"/>
                        </span>
                        <button class="btn btn-info btn-sm" id="btnQueryHisLoc">查询</button>
                        <button class="btn btn-info btn-sm" id="btnClearHisLoc">清除</button>

                        <hr class="hr hr-4">
                        <div id="myCanvas"></div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </div> <!-- /.page-content -->
        </div>
    </div> <!-- /.main-content -->

    <!--页脚-->
    <div class="footer">
        <div class="footer-inner " >
            <!-- #section:basics/footer -->
            <div class="footer-content" > <span class="bigger-120"> 衡阳市和仲通讯科技有限公司 &copy; 2016-2018 </span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span> </div>
            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>

</div> <!-- /.main-container -->

<script>
    $(function(){
        var map = new HzMap({
            container: $('#myCanvas'),
            coordView: true
        });
        console.log(map);


        // 开始导航
        $('#btnBeginNav').click(function () {
            map.startNavigation({
                location: 27,
                userId: '1918E00103AA'
            });
        });

        // 结束导航
        $('#btnStopNav').click(function () {
            map.stopNavigation();
        });

        // 历史轨迹 ---------------------------------------------------------------
        // 查询历史轨迹
        $('#btnQueryHisLoc').click(function () {
            var userId = $('#userId').val();
            if(userId == 0){
                hzInfo('请选择查询用户');
                return;
            }

            var startTime = $('#startTime').val();
            if(startTime == ''){
                hzInfo('请选择查询起始时间');
                return;
            }

            var endTime = $('#endTime').val();
            if(endTime == ''){
                hzInfo('请选择查询截止时间');
                return;
            }

            getHistoryLocation({
                userId: [userId],
                datetimeFrom: startTime,
                datetimeTo: endTime,
                callback:function (data) {
                    if(data.total == 0)
                        hzInfo('该时间段没有数据！');
                    map.drawHistoryLocation(data.data);
                }
            });

        });

        // 清除历史轨迹
        $('#btnClearHisLoc').click(function () {
            map.clearHistoryLocation();
        });

        // 时间日历插件格式化
        $('.date-timepicker').datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true
        });

    });
</script>


<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script src="/static/ace/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/ace/components/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/static/ace/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/static/ace/components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/static/ace/components/jqGrid/js/jquery.jqGrid.min.js"></script>
<script src="/static/ace/components/jqGrid/js/i18n/grid.locale-cn.js"></script>
<script src="/static/ace/assets/js/src/elements.scroller.js"></script>
<script src="/static/ace/assets/js/src/elements.colorpicker.js"></script>
<script src="/static/ace/assets/js/src/elements.fileinput.js"></script>
<script src="/static/ace/assets/js/src/elements.typeahead.js"></script>
<script src="/static/ace/assets/js/src/elements.wysiwyg.js"></script>
<script src="/static/ace/assets/js/src/elements.spinner.js"></script>
<script src="/static/ace/assets/js/src/elements.treeview.js"></script>
<script src="/static/ace/assets/js/src/elements.wizard.js"></script>
<script src="/static/ace/assets/js/src/elements.aside.js"></script>
<script src="/static/ace/assets/js/src/ace.js"></script>
<script src="/static/ace/assets/js/src/ace.basics.js"></script>
<script src="/static/ace/assets/js/src/ace.scrolltop.js"></script>
<script src="/static/ace/assets/js/src/ace.ajax-content.js"></script>
<script src="/static/ace/assets/js/src/ace.touch-drag.js"></script>
<script src="/static/ace/assets/js/src/ace.sidebar.js"></script>
<script src="/static/ace/assets/js/src/ace.sidebar-scroll-1.js"></script>
<script src="/static/ace/assets/js/src/ace.submenu-hover.js"></script>
<script src="/static/ace/assets/js/src/ace.widget-box.js"></script>
<script src="/static/ace/assets/js/src/ace.settings.js"></script>
<script src="/static/ace/assets/js/src/ace.settings-rtl.js"></script>
<script src="/static/ace/assets/js/src/ace.settings-skin.js"></script>
<script src="/static/ace/assets/js/src/ace.widget-on-reload.js"></script>
<script src="/static/ace/assets/js/src/ace.searchbox-autocomplete.js"></script>

<script src="/static/ace/components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

</body>
</html>