<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<script src="../static/js/jquery-v1.11.0.min.js">
</script>
<script>
$(document).ready(function(){
	var b = ['c','f']; 
	var a = [0,1,2,3]
 	a[0] = b;
	b = ['g','s']; 
	
 $('#div3').mousedown(function(e){
 
	 alert($(this).attr('aaa') !== 1)
 
 });
 
});
</script>
</head>
<style>
	div{ width:60px; top:100PX; height:6660px; position:absolute;}
</style>
<body style="height:2000px;">
 123123123
 
    	<div style="background:#00F;" id="div3" aada = 1>
         
        </div>
 
 </div>
 
    
 
 
</body>
</html>
