<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
	$("button").click(function(){
		var x=$("div").offset();
		alert("上: " + x.top + " 左: " + x.left);
	});
});
</script>
</head>
<style>
	* { margin:0;}
</style>
<body>

<div style = "position:absolute; top:0; left:0; border:20px solid #000;">这是一个段落。</div>
<button style = "position:absolute; top:100px;">返回p元素的偏移坐标</button>

</body>
</html>