<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口测试</title>
</head>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script>

<script>
    'use strict';

    /**
     * 向服务器发送 Ajax 请求，查询相关数据, POST方式
     * @param url       请求 url
     * @param txData    请求 参数，具体参数含义，见对应接口说明
     */
    function ajaxRequest(url, txData) {
        $.ajax({
            url: url,
            async: true,
            type: 'POST',
            data: {data: JSON.stringify(txData)}
        }).done(function(data) {
            console.log('接口调用成功');
            console.log('receive:', data);
            $('#receive').append($('<div/>').text('receive from server: <<<<<<<<<<').html());
            $('#receive').append('<br>' + JSON.stringify(data));
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log('接口调用失败');
        });
    }


    function selectApi(str){
        var tx = $('#send');
        var rx = $('#receive');
        tx.empty();
        rx.empty();
        var url = null;
        var txData = null;
        if (str === 'get_history_location') {
            url = '/lbs/get_history_location';
            txData = {
                "userId": ["1918E00103AA", "1918E00103A9"],     // "userId": ["all"] for all users
                "datetimeFrom": "2017-08-17 11:17:35",          // 按照时间段查询
                "datetimeTo": "2017-09-23 11:17:35",
                "compress": false       // 是否压缩，压缩的含义是，服务器会根据特定策略返回部分路径坐标。 保留参数
            };

            tx.append($('<div/>').text('send to server: >>>>>>>>>>').html());
            tx.append('<br>' + $('<div/>').text('url:  ' + url).html());
            tx.append('<br>'+ JSON.stringify(txData));

            console.log('send:', txData);
            ajaxRequest(url, txData);
        } else if (str === 'get_electronic_rail_cfg') {
            url = '/lbs/get_electronic_rail_cfg';
            txData = {
                "floorNo": "Floor3"         // 查询的楼层号
            };

            tx.append($('<div/>').text('send to server: >>>>>>>>>>').html());
            tx.append('<br>' + $('<div/>').text('url:  ' + url).html());
            tx.append('<br>'+ JSON.stringify(txData));

            console.log('send:', txData);
            ajaxRequest(url, txData);
        } else if (str === 'get_electronic_rail_info'){
            url = '/lbs/get_electronic_rail_info';
            txData = {
                "userId": ["1918E00103AA", "1918E00103A9"], // "userId": ["all"] for all users
                "datetimeFrom": "2017-08-17 11:17:35",      // 按照时间段查询, 可选，若不填写，时间段不作为过滤条件
                // "datetimeTo": "2017-09-23 11:17:35",        // 结束日期，可选，不填写时，结束日期为 Now
                "page": 1,          // 查询的页码。 当记录很多时，需要分页查询。可选参数，默认为第一页
                "rows": 100,        // 当前页记录条数。可选参数。默认100条
                "sort": [{"field": "datetime", "oper": "desc"},     // 记录排序规则， 可选参数。
                         {"field": "userId", "oper": "desc"}]       // 默认按照时间降序排序
                    // 当前条件只支持 and 。
                    // oper 取值： desc 降序（默认）， asc 升序。 可以不填oper，默认降序
                    // 字段顺序 代表 查询时的排序顺序。
                    // 目前支持 datetime, userId, room排序
            };

            tx.append($('<div/>').text('send to server: >>>>>>>>>>').html());
            tx.append('<br>' + $('<div/>').text('url:  ' + url).html());
            tx.append('<br>'+ JSON.stringify(txData));

            console.log('send:', txData);
            ajaxRequest(url, txData);
        }
    }

    $(document).ready(function() {
        var namespace = '/HeZhong';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('hz_electronic_tail', function(msg) {
            console.log('电子围栏：', msg);
        });
    });

</script>
<body>

<select id="userId" onchange="selectApi(this.value)">
    <option value="choose">选择接口</option>
    <option value="get_history_location">获取历史轨迹</option>
    <option value="get_electronic_rail_cfg">获取电子围栏配置</option>
    <option value="get_electronic_rail_info">查询电子围栏告警信息</option>

</select>

<div style="padding: 10px"></div>

<div id="send"></div>

<div style="padding: 10px"></div>

<div id="receive"></div>

</body>
</html>