<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>和仲位置服务平台</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="../static/ace/assets/css/bootstrap.css" />
<link rel="stylesheet" href="../static/ace/components/font-awesome/css/font-awesome.css" />

<!-- page specific plugin styles -->

<!-- text fonts -->
<link rel="stylesheet" href="../static/ace/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="../static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-skins.css" />
<link rel="stylesheet" href="../static/ace/assets/css/ace-rtl.css" />

<!-- svg样式 -->
<link rel="stylesheet" href="/static/js/jquery.svg.package-1.5.0/jquery.svg.css">

<!-- inline styles related to this page -->
<!--时间插件-->

<link rel="stylesheet" href="../static/ace/components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>
<!--hz地图样式-->
<link rel="stylesheet" href="../static/css/hzmap.css" />

<!-- ace settings handler -->
<script src="../static/ace/assets/js/ace-extra.js"></script>
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />
</head>

<body class="no-skin"  style=" min-width:1900px;">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state" style=" min-width:190px;">
  <div class="navbar-container ace-save-state" id="navbar-container"> 
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar"> <span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    
    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left"> 
      <!-- #section:basics/navbar.layout.brand --> 
      <a href="#" class="navbar-brand" style="padding-top:0; padding-bottom:0;"> <img src="../static/img/logo.jpg" /> </a> 
      
      <!-- /section:basics/navbar.layout.brand --> 
      
      <!-- #section:basics/navbar.toggle --> 
      
      <!-- /section:basics/navbar.toggle --> 
    </div>
    
    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        
        <!-- #section:basics/navbar.user_menu -->
        <li class="light-blue dropdown-modal"> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="../static/ace/assets/avatars/user.jpg" alt="Jason's Photo" /> <span class="user-info"> <small>欢迎登入,</small> 欧先生 </span> <i class="ace-icon fa fa-caret-down"></i> </a>
          <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li> <a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a> </li>
            <li> <a href="profile.html"> <i class="ace-icon fa fa-user"></i> Profile </a> </li>
            <li class="divider"></li>
            <li> <a href="#"> <i class="ace-icon fa fa-power-off"></i> Logout </a> </li>
          </ul>
        </li>
        
        <!-- /section:basics/navbar.user_menu -->
      </ul>
    </div>
    
    <!-- /section:basics/navbar.dropdown --> 
  </div>
  <!-- /.navbar-container --> 
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container ace-save-state" style="" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script> 
  
  <!-- #section:basics/sidebar -->
  <div id="sidebar" class="sidebar                  responsive                    ace-save-state"> 
    <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success"> <i class="ace-icon fa fa-signal"></i> </button>
        <button class="btn btn-info"> <i class="ace-icon fa fa-pencil"></i> </button>
        
        <!-- #section:basics/sidebar.layout.shortcuts -->
        <button class="btn btn-warning"> <i class="ace-icon fa fa-users"></i> </button>
        <button class="btn btn-danger"> <i class="ace-icon fa fa-cogs"></i> </button>
        
        <!-- /section:basics/sidebar.layout.shortcuts --> 
      </div>
      
      <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>--> 
    </div>
    <!-- /.sidebar-shortcuts -->
    
    <ul class="nav nav-list">
      <li class=""> <a href="#" class="dropdown-toggle"> <i class="menu-icon  fa fa-home"></i> <span class="menu-text"> 我的建筑 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
        <ul class="submenu">
          <li class=""> <a href="/token"> <i class="menu-icon fa fa-caret-right"></i> 地图导航 </a> <b class="arrow"></b> </li>
          <li class=""> <a href="/hz_page2"> <i class="menu-icon fa fa-caret-right"></i> 坐标拾取 </a> <b class="arrow"></b> </li>
          <li class="active"> <a href="/hz_history_loc"> <i class="menu-icon fa fa-caret-right"></i> 历史轨迹 </a> <b class="arrow"></b> </li>
          <li class=""> <a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-caret-right"></i> <span class="menu-text"> 电子围栏 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
            <ul class="submenu">
              <li class=""> <a href="/hz_electronic_rail"> <i class="menu-icon fa fa-caret-right"></i> 实时信息 </a> <b class="arrow"></b> </li>
              <li class=""> <a href="/hz_page1"> <i class="menu-icon fa fa-caret-right"></i> 历史警报 </a> <b class="arrow"></b> </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.nav-list --> 
    
    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"> <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i> </div>
    
    <!-- /section:basics/sidebar.layout.minimize --> 
  </div>
  
  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner"> 
      <!-- #section:basics/content.breadcrumbs --> 
      
      <!-- /section:basics/content.breadcrumbs --> 
      
      <script src="/static/js/jquery.min.js"></script> 
      <script src="/static/js/jquery.svg.package-1.5.0/jquery.svg.js"></script> 
      <script src="/static/js/socket.io-1.3.5/socket.io.min.js"></script> 
      <script src="../static/js/jquery.mousewheel.js"></script> 
      <script>

   //localStorage.clear(); // 调试用    清除缓存



    'use strict';
var hzX = 0, hzY = 0;   // 坐标系原点
var margin = 0;        //外边距
var real_loc_to_pix = 0.0891;      //物理单位转像素单位 比例      比例转换计算公式x为传来的数据   x * real_loc_to_pix * zoom
var map_w = 3477;       /// px
var map_h = 1769;
var zoom = 0.492;          /// 地图缩放级别
var hz_is_navigating = false;      /// 是否曾经设置过导航，或正在导航中
var HZ_DESTINATION_MEETING_ROOM = 27;     //办公室编号
var hz_destination = HZ_DESTINATION_MEETING_ROOM;            /// 导航的目的地，默认 第一个 目的地
var hz_time_id = 0;    //废弃
var hz_user_id = 0;   //下面的索引   实际函数用0应该是未选择
var HZ_USER_IDS = ['1918E00103AA', '1918E00103A9'];
var hz_user_xy = [];   //用户数据  每项为一个用户

var storage = window.localStorage;




if(storage){
    //storage.clear();
    ///alert("浏览支持localStorage");
    var _userId = storage['hz_user_id'];
    if(typeof _userId !== 'undefined') {
        hz_user_id = _userId;
    }
    var hz_zoom = storage['hz_zoom'];
    ///alert(hz_zoom);
    if(typeof hz_zoom !== 'undefined') {    /// 存在值
        zoom = hz_zoom;
    }

    var _dest = parseInt(storage['hz_destination']);
    isNaN(_dest) ? hz_destination = HZ_DESTINATION_MEETING_ROOM : hz_destination = _dest;

    ///alert(storage['hz_is_navigating'] + "  " + Boolean(storage['hz_is_navigating']));
    hz_is_navigating = Boolean(storage['hz_is_navigating']);
}else{
    ///alert("浏览暂不支持localStorage");
}


$(document).ready(function(){

    var namespace = '/HeZhong';

    // Connect to the Socket.IO server.
    // The connection URL has the following format:
    //     http[s]://<domain>:<port>[/<namespace>]
    var connStr = location.protocol + '//' + document.domain + ':' + location.port + namespace;
    console.log(connStr);
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    // Event handler for new connections.
    // The callback function is invoked when a connection with the
    // server is established.
    socket.on('connect', function() {
        socket.emit('hz_event', {data: "I'm connected!"});
        if (hz_is_navigating) {
            $('#go').click();
        }
    });

    // Event handler for server sent data.
    // The callback function is invoked whenever the server emits data
    // to the client. The data is then displayed in the "Received"
    // section of the page.
    socket.on('hz_response', function(msg) {
        /// $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
    });

    socket.on('hz_position', function(msg) {
	 
      
		
	 
		
        var json = eval(msg); // 数组
		
		
		console.log(json);
		 

		
        $.each(json, function (index, item) {//index json 索引   item  为本索引内容
            hz_user_xy[index] = [item['userId'], json[index]['x'], json[index]['y']];
			//把每个人存起来
        });

        console.log('json len:', json.length, ' hz_user_xy len:', hz_user_xy.length);
        for (var i = 0; i< json.length; i++) {
			
			 
			
			//zoom:地图缩放级别  
			//   hz_people_goto 把人放到对应位置函数 
			
            hz_people_goto(hz_user_xy[i][1] * real_loc_to_pix * zoom - margin,
                    hz_user_xy[i][2] * real_loc_to_pix * zoom - margin, hz_user_xy[i][0]);
        }
    });
		//导航路径
    socket.on('hz_path', function (msg) {
		
        console.log(msg);
		
		console.log(msg.path[0].pt_name)
		
        var pt_path = [];
        pt_path[0] = [msg.x * real_loc_to_pix * zoom, msg.y * real_loc_to_pix * zoom];
        var json = eval(msg.path); // 数组
        $.each(json, function (index, item) {
            // 循环获取数据
            pt_path[index+1] = [parseInt((json[index].x+44/2-2) * zoom), parseInt((json[index].y+44/2-2) * zoom)];
        });

        hz_people_go_no_animate(pt_path[pt_path.length-1][0], pt_path[pt_path.length-1][1], 'destination');
        $('#destination').show();

        var svg = $('#svg_path').svg('get');
		
 
		
        for ( var i = 0; i< pt_path.length; i++) {        // 转换坐标
            pt_path[i][0] += hzX;
            pt_path[i][1] += hzY;
        }
		
        svg.clear();
        svg.polyline(pt_path, {fill: 'none', stroke: 'blue', strokeWidth: 4});
    });

    $("#go").click(function(){
        $("#go").attr("disabled", true);
        $("#loc").attr("disabled", true);
        $("#userId").attr("disabled", true);

        storage['hz_is_navigating'] = true;
        hz_is_navigating = true;

        socket.emit('hz_navigating',
                {'location': hz_destination, 'userId':HZ_USER_IDS[hz_user_id-1] });

        /*
        // 未做错误处理。后续需要改正
        $.post("/go", {"location": hz_destination, "userId": HZ_USER_IDS[hz_user_id-1]}, function(data, status){
            var pt_path = [];
            var pt = eval(data.points); // 数组
            $.each(pt, function (index, item) {
                hz_people_goto(item['x'] * real_loc_to_pix * zoom + margin, item['y'] * real_loc_to_pix * zoom + margin, item['userId']);
                if (item['userId'] == HZ_USER_IDS[hz_user_id-1]) {
                    pt_path[0] = [item['x'] * real_loc_to_pix * zoom, item['y'] * real_loc_to_pix * zoom];
                }
            });

            var json = eval(data.path); // 数组
            $.each(json, function (index, item) {
                // 循环获取数据
                pt_path[index+1] = [parseInt((json[index].x+44/2-2) * zoom), parseInt((json[index].y+44/2-2) * zoom)];
            });

            hz_people_go_no_animate(pt_path[pt_path.length-1][0], pt_path[pt_path.length-1][1], 'destination');
            $('#destination').show();

            var svg = $('#svg_path').svg('get');
            svg.clear();
            for ( var i = 0; i< pt_path.length; i++) {        // 转换坐标
                pt_path[i][0] += hzX;
                pt_path[i][1] += hzY;
            }

            svg.polyline(pt_path, {fill: 'none', stroke: 'blue', strokeWidth: 4});

            storage['hz_is_navigating'] = true;
            hz_is_navigating = true;
        });
        */
     });

    /// 停止导航
    $("#stop").click(function () {
       navgationStop();
    });
		
	//停止导航函数
	
	function navgationStop(){
		 if(hz_is_navigating){
            hz_clear_path();
            storage.removeItem('hz_is_navigating');
            hz_is_navigating = false;
            $("#go").attr("disabled", false);
            $("#loc").attr("disabled", false);
            $("#userId").attr("disabled", false);
            $("#destination").hide();

            socket.emit('hz_stop_navigating');
        }	
	}

	

    $("#zoomOut").click(function () {
        zoom = parseFloat(zoom) + 0.05;
        storage['hz_zoom'] = zoom;
        hz_map_zoom(margin, margin, map_h * zoom, map_w * zoom);

        hz_change_item_in_map();
        /*
        for (var i = 0; i< hz_user_xy.length; i++) {
            hz_people_go_no_animate(hz_user_xy[i][1] * real_loc_to_pix * zoom - margin,
                    hz_user_xy[i][2] * real_loc_to_pix * zoom - margin, hz_user_xy[i][0]);
        }

        if (hz_is_navigating) {
            hz_clear_path();
            $("#go").click();
        }

        var svg = $('#svg_map').svg('get');
        svg.clear();
        drawInitial(svg);
        */
    });

    $("#zoomIn").click(function () {
        zoom = parseFloat(zoom) - 0.05;
        storage['hz_zoom'] = zoom;
        hz_map_zoom(margin, margin, map_h * zoom, map_w * zoom);

        hz_change_item_in_map();
        /*
        for (var i = 0; i< hz_user_xy.length; i++) {
            hz_people_go_no_animate(hz_user_xy[i][1] * real_loc_to_pix * zoom - margin,
                    hz_user_xy[i][2] * real_loc_to_pix * zoom - margin, hz_user_xy[i][0]);
        }

        if (hz_is_navigating) {
            hz_clear_path();
            $("#go").click();
        }

        var svg = $('#svg_map').svg('get');
        svg.clear();
        drawInitial(svg);
        */
    });
/*
    $(".btnGetLocation").click(function(){
        $.post("/get_location", {"userId": "1918E00103AA"}, function(data, status){
            var json = eval(data); // 数组
            $.each(json, function (index, item) {
                hz_user_xy[index] = [item['userId'], json[index]['x'], json[index]['y']];
            });

            for (var i = 0; i< hz_user_xy.length; i++) {
                hz_people_go_no_animate(hz_user_xy[i][1] * real_loc_to_pix * zoom - margin,
                        hz_user_xy[i][2] * real_loc_to_pix * zoom - margin, hz_user_xy[i][0]);
            }
        });
    });
*/
    /// 调整地图大小
    hz_map_zoom(margin, margin, map_h * zoom, map_w * zoom);

    if(hz_user_id != 0) {       /// 设置选择用户（标签）图片
        $('#'+ HZ_USER_IDS[hz_user_id-1]).attr('src', '/static/img/peoplesel.png');
    }
    /// 调整用户、标签位置
    ///$('.btnGetLocation').click();


	
	
    $("#loc").val(parseInt(hz_destination));
    $("#userId").val(parseInt(hz_user_id));
    $("#go").attr("disabled", hz_user_id == '0');
    $("#loc").attr("disabled", hz_user_id == '0');
    $('#destination').hide();

});

    function hz_change_item_in_map() {
        for (var i = 0; i< hz_user_xy.length; i++) {
            hz_people_go_no_animate(hz_user_xy[i][1] * real_loc_to_pix * zoom - margin,
                    hz_user_xy[i][2] * real_loc_to_pix * zoom - margin, hz_user_xy[i][0]);
        }

        if (hz_is_navigating) {
            hz_clear_path();
            $("#go").click();
        }

        var svg = $('#svg_map').svg('get');
        svg.clear();
        drawInitial(svg);
    }

function hz_map_zoom(left, top, height, width, isAnimate) {
    isAnimate = isAnimate || true;     // 默认参数为true，执行动画
    $("#map").stop(true, true).animate({
        left:left + hzX,
        top:top + hzY,
        height:height,
        width:width
    });
    if (!isAnimate) {
        $('#map').stop(true, true);
   }
}
//(用户)人位置函数
function hz_people_goto(x, y, people) {
 
	
    people = people || '1918E00103AA';      // 设置默认参数
	
 
	
    /// 24, 45是定位图标的 针尖 位置。显示图片时，是以图片左上角为参考坐标。故需要对坐标进行偏移。
    $("#"+people).stop(true, true).animate({
        left: (hzX + x - 24),
        top: (hzY + y - 45)
    });
}

function hz_people_go_no_animate(x, y, people) {
 
	
    people = people || '1918E00103AA';      // 设置默认参数
 	
	
    /// 24, 45 是定位图标的 针尖 位置。显示图片时，是以图片左上角为参考坐标。故需要对坐标进行偏移。
    $("#"+people).animate({
        left: hzX + x - 24,
        top: hzY + y - 45
    }).stop(true, true);
}

function hz_clear_path() {
    $('#svg_path').svg('get').clear();
}

$(function() {
	$('#svg_map').svg({onLoad: drawInitial});
    $('#svg_path').svg({onLoad: drawIniPath()});

    // pan map
    var hzStillDown = false;
    var hzCanvas = $("#floor3");
    var hzOriginalX = 0,  hzOriginalY = 0;
    hzCanvas.mousedown(function(event){
        // console.log('div floor3 was clicked!' + event.pageX + ',' + event.pageY);
        // console.log('offset:(' + event.offsetX + ',' + event.offsetY + ')');
        hzStillDown = true;
        hzOriginalX = event.offsetX;
        hzOriginalY = event.offsetY;
        $(this).css('cursor', 'move');
    });

    ///var hzCoords = [];
    hzCanvas.mousemove(function(e){
        ///if(!hzStillDown) return;
        // console.log("moving");
        ///hzCoords.push({x: e.offsetX, y: e.offsetY});
        // and/or do whatever you need with the coordinates
    });

    hzCanvas.mouseup(function(e){
        if (!hzStillDown) return;
        hzStillDown = false;
        $(this).css('cursor', 'default');
        if (e.offsetX - hzOriginalX == 0 && e.offsetY - hzOriginalY == 0) return;
        hzX += e.offsetX - hzOriginalX;
        hzY += e.offsetY - hzOriginalY;
        $('#map').animate({
            left: hzX,

            top: hzY
        });
        hz_change_item_in_map();
        /*
        var svg = $('#svg_map').svg('get');
        svg.clear();
        drawInitial(svg);
        */
    });
});

function drawIniPath() {
}

function drawInitial(svg) {
    var x_meeting_room = 1420;
    var y_meeting_room = 3000;
    svg.text(parseInt(x_meeting_room*real_loc_to_pix*zoom)+hzX, parseInt(y_meeting_room*real_loc_to_pix*zoom)+hzY, '会议室');
    transformDemo(svg);
}

function transformDemo(svg) {
    var x_meeting_room = 1420;
    var y_meeting_room = 4000;

    svg.describe('Example Skew - Show effects of skewX and skewY');
    var str3 = 'translate(' +  parseInt(x_meeting_room*real_loc_to_pix*zoom+hzX) + ',' + parseInt(y_meeting_room*real_loc_to_pix*zoom+hzY) + ')';
    var g1 = svg.group({transform: str3});
    var g2 = svg.group(g1, {transform: 'skewX(40)'});
    svg.text(g2, 0, 0, '会议室',
        {fontSize: 20, fontFamily: 'Verdana', fill: 'blue'});

    var y_manager1 = 8620;
    var str4 = 'translate(' +  parseInt(x_meeting_room*real_loc_to_pix*zoom+hzX) + ',' + parseInt(y_manager1*real_loc_to_pix*zoom+hzY) + ')';
    g1 = svg.group({transform: str4});
    g2 = svg.group(g1, {transform: 'skewY(30)'});
    svg.text(g2, 0, 0, '副总办公室1',
        {fontSize: 20, fontFamily: 'Verdana', fill: 'blue'});

    var x_storage = 20000;
    var y_storage = 5000;
    var str1 = 'translate(' +  parseInt(x_storage*real_loc_to_pix*zoom+hzX) + ',' + parseInt(y_storage*real_loc_to_pix*zoom+hzY) + ')';
    g1 = svg.group({transform: str1});
    svg.text(g1, 0, 0, '仓  库',
        {fontSize: 16, fontFamily: 'Verdana'});

    var str2 = 'translate(' +  parseInt(x_storage*real_loc_to_pix*zoom+hzX) + ',' + parseInt((y_storage+3000)*real_loc_to_pix*zoom+hzY) + ')';
    g1 = svg.group({transform: str2});
    g2 = svg.group(g1, {transform: 'rotate(-45)'});
    svg.text(g2, 0, 0, '前  台',
        {fontSize: 16, fontFamily: 'Verdana'});
}

var colours = ['purple', 'red', 'orange', 'yellow', 'lime', 'green', 'blue', 'navy', 'black'];

function random(range) {
	return Math.floor(Math.random() * range);
}

 /*
function getPos()
{
    if (hz_is_navigating) {
        $("#go").click();
    } else {
        ///$(".btnGetLocation").click();
    }

    for (var p in hz_user_xy) {
        if(hz_user_xy.hasOwnProperty(p)) {
            hz_people_goto(hz_user_xy[p][0] * real_loc_to_pix * zoom - margin,
                    hz_user_xy[p][1] * real_loc_to_pix * zoom - margin, p );
        }
    }
}
*/

/// hz_time_id = window.setInterval("getPos()", 1000);

function selectLocation(str){
    hz_destination = parseInt(str);
    storage['hz_destination'] = hz_destination;
}

function selectUser(str){
    if(hz_user_id != 0) {       /// 还原用户（标签）图片为“未选中”状态
        $('#'+ HZ_USER_IDS[hz_user_id-1]).attr('src', '/static/img/people.png');
    }
    hz_user_id = str;
    storage['hz_user_id'] = hz_user_id;
    if(hz_user_id != 0) {       /// 设置选择用户（标签）图片
        $('#'+ HZ_USER_IDS[hz_user_id-1]).attr('src', '/static/img/peoplesel.png');
    }

    $("#go").attr("disabled", hz_user_id == '0');
    $("#loc").attr("disabled", hz_user_id == '0');
}

</script> 
      <script>
          	//iii
			//鼠标滚轮缩放svg图
			$(function(){
				 
				 //localStorage.clear();
				
				 
				$('#svg_map').ready(
					function(){
						
						//获取svg图对象
						var mapSign = $('#map');
						//设置缩放速度   比例缩放
						var zoomSpeed = 0.05;
						
		 
						// using the event helper
						$('#svg_map').mousewheel(function(event, delta, deltaX, deltaY) {
						
						 		//svg图的最小 最大  X和Y
								var mapMinX,mapMaxX,mapMinY,mapMaxY;
								
								var mapOffset = mapSign.offset();
								
								var mapOuterWidth = mapSign.outerWidth();
								var mapOuterHeight = mapSign.outerHeight();
								
								mapMinX = mapOffset.left;
								mapMaxX = mapOffset.left + mapOuterWidth;
								mapMinY = mapOffset.top;
								mapMaxY = mapOffset.top + mapOuterHeight;
								
								
								
								
							
							
							if(event.pageX > mapMinX && event.pageX < mapMaxX && event.pageY > mapMinY && event.pageY <  mapMaxY){

								
								  /*取消默认事件*/
								  event.preventDefault()
								  /*计算速度*/
 						 			
								  
								  var mapHeight, mapWidth, mapTopBorder , mapLeftBorder ,mapTop, mapLeft , speedTop ,speedLeft;
								  /*#map 的基本参数*/
								  mapHeight = mapSign.height();
								  mapWidth = mapSign.width();
								  
								  mapTopBorder = parseInt(mapSign.css('border-top-width'));
								  mapLeftBorder = parseInt(mapSign.css('border-left-width'));
								  
								  mapTop = parseInt(mapSign.css('top'));
								  mapLeft = parseInt(mapSign.css('left'));
								  
								  
								  
								  /*计算缩放速度  单独的top  或  left*/
								  
								  if(delta == 1){
								  	  speedTop =  parseInt(zoomSpeed * mapHeight);
									  console.log ('speedTop',speedTop); 
									  speedLeft =  parseInt(zoomSpeed * mapWidth);
								  }else{
								  	  speedTop =  -parseInt(zoomSpeed * mapHeight);
									  speedLeft = -parseInt(zoomSpeed * mapWidth);
								  }
								  
								 
								/*更改后的高*/
								var resultHeight = mapHeight + (speedTop * 2); 
								var resultWidth = mapWidth + (speedLeft * 2);
								
								
								/*鼠标在图内距离*/
								var currentMouseTop = event.pageY - mapMinY - mapTopBorder;
								var currentMouseLeft = event.pageX - mapMinX - mapLeftBorder;
								/*缩放后再图内的距离*/
								var mouseTop = Math.round(currentMouseTop - (currentMouseTop / mapHeight * resultHeight));
								var mouseLeft = Math.round(currentMouseLeft - (currentMouseLeft / mapWidth * resultWidth));
								 
								 
		
 
 								/*计算svg偏离距离*/
								/*svg图的left*/
 
									
										
								hzY = mapTop + mouseTop  ;
					 			hzX =  mapLeft + mouseLeft ;
									
					 				
								/*保存缩放比例*/
							 	zoom = resultWidth / map_w;
								storage['hz_zoom'] = zoom;
									
									
									
 
        						  hz_map_zoom(margin, margin, resultHeight , resultWidth);
 		  						  hz_change_item_in_map();
								  
								 /*计算图片相对父元素位置*/
 								  
							}
  							 
						});
 
					}
				);	
			})
			
          </script>
      <div class="page-content" style="padding-bottom:0px;">
      	<div class="row">
        		 
            <div  id="myCanvas">
              <div class="myPanel" style="position:absolute; top:60px; left:80px; z-index:1000;">
              	<div class="panel panel-success">
                    <div class="panel-primary" style="padding:10px 20px; border-bottom:1px solid #d6e9c6; ">
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">按钮 1</button>
                            <button type="button" class="btn btn-default">按钮 2</button>
                   
                        </div>
                    </div>
                    <div class="panel-body" style="padding:10px 20px;">
                              
                    </div>
                    
                    
                    
                    
                </div>
              </div>
              
              
              <div id="floor3"  class="map_base_data clearfix"> 
                <img src="/static/img/floor3.svg"   style="position:absolute;" id="map" class="map_base_data clearfix">
                <div id="svg_map"  class="map_base_data">
                  <div id="svg_path" class="map_base_data"></div>
                  <img src="/static/img/people.png" style="position:absolute" id="1918E00103AA" title="1918E00103AA"> <img src="/static/img/people.png" style="position:absolute" id="1918E00103A9" title="1918E00103A9"> <img src="/static/img/dest.png" style="position:absolute" id="destination" title="终点"> </div>
              </div>p[- 
            </div>
            
            
            
            
            <!--模态框开始-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style=" width:1000px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                编辑围栏
                                            </h4>
                                        </div>
                                        <div class="modal-body" style="height:600px;" >
                                          <!--模态框内容区-->
                                          <div class="row">
                                          	<div class="alert alert-warning">
                                                    <a href="#" class="close" data-dismiss="alert">
                                                        &times;
                                                    </a>
                                                    <strong>警告！</strong>您的网络连接有问题。
                                                </div>
                                          </div>
                                          <div class="row">
                                          	<div class="col-xs-3">
                                            	<form role="form" class="form-horizontal">
                                                    
                                                  
                                                  <div class="form-group">
                                                    <label for="firstname" class="col-sm-3 control-label no-padding-right">围栏形状:</label>
                                                    <div class="col-sm-9">
                                                      	    <select class="form-control" id=" ">
																<option value="">多边形</option>
                                                                									 
															</select>
                                                    </div>
                                                  </div>
                                                  
                                                  <div class="form-group">
                                                    <label for="firstname" class="col-sm-3 control-label no-padding-right">围栏名称:</label>
                                                    <div class="col-sm-9">
                                                    <input type="text"  placeholder=""  />
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="firstname" class="col-sm-3 control-label no-padding-right">楼层:</label>
                                                    <div class="col-sm-9">
                                                      	    <select class="form-control" id=" ">
																<option value="">3楼</option>
                                                                									 
															</select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="firstname" class="col-sm-3 control-label no-padding-right">进入警报方式:</label>
                                                    <div class="col-sm-9">
                                                      	    <select class="form-control" id=" ">
																<option value="">文本</option>
                                                                									 
															</select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="firstname" class="col-sm-3 control-label no-padding-right">进入警报内容:</label>
                                                    <div class="col-sm-9">
                                                      	    <textarea class="form-control" rows="3"></textarea>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="firstname" class="col-sm-3 control-label no-padding-right">退出警报方式:</label>
                                                    <div class="col-sm-9">
                                                      	    <select class="form-control" id=" ">
																<option value="">文本</option>
                                                                									 
															</select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="firstname" class="col-sm-3 control-label no-padding-right">退出警报内容:</label>
                                                    <div class="col-sm-9">
                                                      	    <textarea class="form-control" rows="3"></textarea>
                                                    </div>
                                                  </div>
                                                  
                                                  
                                                </form>
                                            
                                            </div>
                                            <div class="col-xs-9">
                                            	<!--svg图处理-->
                                            	<div class="">
                                                	<div  class=""> 
                                                        <img src="/static/img/floor3.svg"   style=" width:730px; height:400px;" class="">
                                                        <div class="">
                                                        <div id="" class=""></div>
                                                      </div>
                                                </div>
                                            </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary">
                                                提交更改
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
        </div>
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content --> 
  
  <!--<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>--> 
</div>
<!-- /.main-container --> 

<!-- basic scripts --> 

<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../static/ace/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script> 
<script src="../static/ace/components/bootstrap/dist/js/bootstrap.js"></script> 

<!--时间控制插件--> 

<script src="../static/ace/components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script> 

<!-- ace scripts --> 
<script src="../static/ace/assets/js/src/elements.scroller.js"></script> 
<script src="../static/ace/assets/js/src/elements.colorpicker.js"></script> 
<script src="../static/ace/assets/js/src/elements.fileinput.js"></script> 
<script src="../static/ace/assets/js/src/elements.typeahead.js"></script> 
<script src="../static/ace/assets/js/src/elements.wysiwyg.js"></script> 
<script src="../static/ace/assets/js/src/elements.spinner.js"></script> 
<script src="../static/ace/assets/js/src/elements.treeview.js"></script> 
<script src="../static/ace/assets/js/src/elements.wizard.js"></script> 
<script src="../static/ace/assets/js/src/elements.aside.js"></script> 
<script src="../static/ace/assets/js/src/ace.js"></script> 
<script src="../static/ace/assets/js/src/ace.basics.js"></script> 
<script src="../static/ace/assets/js/src/ace.scrolltop.js"></script> 
<script src="../static/ace/assets/js/src/ace.ajax-content.js"></script> 
<script src="../static/ace/assets/js/src/ace.touch-drag.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar.js"></script> 
<script src="../static/ace/assets/js/src/ace.sidebar-scroll-1.js"></script> 
<script src="../static/ace/assets/js/src/ace.submenu-hover.js"></script> 
<script src="../static/ace/assets/js/src/ace.widget-box.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings-rtl.js"></script> 
<script src="../static/ace/assets/js/src/ace.settings-skin.js"></script> 
<script src="../static/ace/assets/js/src/ace.widget-on-reload.js"></script> 
<script src="../static/ace/assets/js/src/ace.searchbox-autocomplete.js"></script> 

<!-- inline scripts related to this page -->

</body>
</html>
